{"frames":{"share_unlockCollectionMode/hipple_play222.png":[[326,108,83,102],0,[-1,2],[89,106]],"share_unlockCollectionMode/racoon_play222.png":[[326,2,89,104],0,[0,-1],[93,108]],"share_unlockCollectionMode/wawaji222.png":[[2,2,322,239],0,[-1,1],[324,241]]},"metadata":{"format":2,"realTextureFileName":"share_unlockCollectionMode@6x.png","size":"{417,243}","textureFileName":"share_unlockCollectionMode@6x.png"}}