{"frames":{"pvp_invite/back.png":[[604,462,39,39],0,[0,0],[39,39]],"pvp_invite/background.png":[[2,2,600,800],0,[0,0],[600,800]],"pvp_invite/number.png":[[604,503,31,21],1,[0,0],[31,21]],"pvp_invite/panel_bg.png":[[604,2,381,458],0,[0,0],[381,458]],"pvp_invite/tab.png":[[604,536,29,26],1,[0,0],[29,26]]},"metadata":{"format":2,"realTextureFileName":"pvp_invite@6x.png","size":"{987,804}","textureFileName":"pvp_invite@6x.png"}}