{"frames":{"hssg_49/background.png":[[2,2,64,62],1,[0,0],[64,62]],"hssg_49/background_half.png":[[66,57,55,53],0,[0,0],[55,53]],"hssg_49/background_none.png":[[66,2,55,53],0,[0,0],[55,53]]},"metadata":{"format":2,"realTextureFileName":"hssg_49@6x.png","size":"{123,112}","textureFileName":"hssg_49@6x.png"}}