{"frames":{"hssg_slide/background.png":[[2,2,126,168],1,[0,0],[126,168]],"hssg_slide/background_half.png":[[334,2,118,160],1,[0,0],[118,160]],"hssg_slide/background_none.png":[[172,2,118,160],1,[0,0],[118,160]]},"metadata":{"format":2,"realTextureFileName":"hssg_slide@6x.png","size":"{496,130}","textureFileName":"hssg_slide@6x.png"}}