{"frames":{"share_surpassFriend/chick_body_new.png":[[559,2,78,73],1,[2,-1],[92,89]],"share_surpassFriend/surfboard.png":[[338,2,161,102],0,[0,6],[161,114]],"share_surpassFriend/swimmingRing.png":[[501,2,94,56],1,[0,0],[94,56]],"share_surpassFriend/wave_surpass.png":[[2,2,334,115],0,[0,0],[334,115]]},"metadata":{"format":2,"realTextureFileName":"share_surpassFriend@6x.png","size":"{634,119}","textureFileName":"share_surpassFriend@6x.png"}}