{"frames":{"hssg_light/background.png":[[290,2,141,136],0,[2,-4],[161,144]],"hssg_light/background_half.png":[[147,2,141,136],0,[2,-4],[161,144]],"hssg_light/background_none.png":[[2,2,143,136],0,[2,-4],[161,144]]},"metadata":{"format":2,"realTextureFileName":"hssg_light@6x.png","size":"{433,140}","textureFileName":"hssg_light@6x.png"}}