{"frames":{"homeSceneStarGroupAnim/board_purple.png":[[2,2,387,83],0,[0,0],[387,83]],"homeSceneStarGroupAnim/chicken_star.png":[[391,2,119,121],0,[-1,-1],[121,133]],"homeSceneStarGroupAnim/galss_star.png":[[223,87,93,93],0,[0,0],[93,93]],"homeSceneStarGroupAnim/share_img_chicken.png":[[318,125,192,126],0,[0,0],[192,126]],"homeSceneStarGroupAnim/share_img_logo.png":[[2,87,219,114],0,[0,0],[219,114]],"homeSceneStarGroupAnim/wechatbtnimg.png":[[223,182,60,60],0,[0,0],[60,60]]},"metadata":{"format":2,"realTextureFileName":"homeSceneStarGroupAnim@6x.png","size":"{512,254}","textureFileName":"homeSceneStarGroupAnim@6x.png"}}