{"frames":{"hssg_42/background.png":[[2,2,85,87],0,[0,0],[85,87]],"hssg_42/background_half.png":[[2,170,77,79],1,[0,0],[77,79]],"hssg_42/background_none.png":[[2,91,77,79],1,[0,0],[77,79]]},"metadata":{"format":2,"realTextureFileName":"hssg_42@6x.png","size":"{89,249}","textureFileName":"hssg_42@6x.png"}}