{"frames":{"payment_types/icon_ali_big.png":[[2,210,50,49],1,[0,0],[50,49]],"payment_types/icon_ali_small.png":[[2,349,31,25],0,[1,-1],[35,35]],"payment_types/icon_huawei_big.png":[[2,158,50,49],1,[0,0],[50,49]],"payment_types/icon_huawei_small.png":[[2,262,31,35],1,[1,0],[35,35]],"payment_types/icon_ingame_big.png":[[2,106,50,49],1,[0,0],[50,49]],"payment_types/icon_ingame_small.png":[[2,295,23,33],1,[1,-1],[35,35]],"payment_types/icon_midas_big.png":[[2,54,50,49],1,[0,0],[50,49]],"payment_types/icon_midas_small.png":[[2,376,29,29],0,[0,0],[35,35]],"payment_types/icon_wechat_big.png":[[2,2,50,49],1,[0,0],[50,49]],"payment_types/icon_wechat_small.png":[[2,320,31,27],0,[1,-1],[35,35]]},"metadata":{"format":2,"realTextureFileName":"payment_types@6x.png","size":"{53,407}","textureFileName":"payment_types@6x.png"}}