{"frames":{"homeAnim_bellDoor/bell_note1.png":[[164,61,8,14],0,[0,0],[8,14]],"homeAnim_bellDoor/bell_note2.png":[[149,61,13,15],0,[0,0],[13,15]],"homeAnim_bellDoor/bell_note3.png":[[190,45,15,14],0,[0,0],[15,14]],"homeAnim_bellDoor/bellbell.png":[[149,2,39,48],0,[0,0],[39,48]],"homeAnim_bellDoor/bellbottom.png":[[2,2,93,75],0,[0,0],[93,75]],"homeAnim_bellDoor/belltop1.png":[[97,2,50,69],0,[0,0],[50,69]],"homeAnim_bellDoor/belltop2.png":[[190,2,23,41],0,[0,0],[23,41]]},"metadata":{"format":2,"realTextureFileName":"homeAnim_bellDoor@6x.png","size":"{215,79}","textureFileName":"homeAnim_bellDoor@6x.png"}}