{"frames":{"weekly_race/head_frame.png":[[152,45,29,32],0,[0,0],[29,32]],"weekly_race/head_frog.png":[[152,10,33,30],1,[0,0],[33,30]],"weekly_race/jiantou.png":[[85,81,18,10],0,[0,0],[18,10]],"weekly_race/rabbit.png":[[183,45,19,24],0,[0,0],[19,24]],"weekly_race/t_bubble_1.png":[[85,10,69,65],1,[0,0],[69,65]],"weekly_race/t_bubble_2.png":[[152,79,18,11],0,[0,0],[18,11]],"weekly_race/t_bubble_3.png":[[105,81,7,6],1,[0,0],[7,6]],"weekly_race/tipss.png":[[2,10,81,81],0,[0,0],[81,81]],"weekly_race/track.png":[[2,2,261,6],0,[0,0],[261,6]]},"metadata":{"format":2,"realTextureFileName":"weekly_race@6x.png","size":"{265,93}","textureFileName":"weekly_race@6x.png"}}