{"frames":{"homeAnim_windmillhouse/ball_ph.png":[[133,53,4,4],0,[0,0],[4,4]],"homeAnim_windmillhouse/wind_weel_house.png":[[2,2,115,129],1,[0,0],[115,129]],"homeAnim_windmillhouse/wind_weel_house_weel_part.png":[[133,2,9,49],0,[0,0],[9,49]]},"metadata":{"format":2,"realTextureFileName":"homeAnim_windmillhouse@6x.png","size":"{144,119}","textureFileName":"homeAnim_windmillhouse@6x.png"}}