{"frames":{"online_gift_panel_2/gift1.png":[[377,174,39,45],1,[0,0],[39,45]],"online_gift_panel_2/gift2.png":[[377,133,39,45],1,[0,0],[39,45]],"online_gift_panel_2/gift3.png":[[377,92,39,45],1,[0,0],[39,45]],"online_gift_panel_2/gift4.png":[[377,51,39,45],1,[0,0],[39,45]],"online_gift_panel_2/progress.png":[[302,230,75,12],0,[0,0],[75,12]],"online_gift_panel_2/progress_bg.png":[[2,230,298,13],0,[0,0],[298,13]],"online_gift_panel_2/qipao.png":[[377,2,46,47],0,[0,0],[46,47]],"online_gift_panel_2/shichangchahua.png":[[2,2,373,226],0,[0,0],[373,226]]},"metadata":{"format":2,"realTextureFileName":"online_gift_panel_2@6x.png","size":"{425,245}","textureFileName":"online_gift_panel_2@6x.png"}}