{"frames":{"board_mask.png":[[3,143,69,69],0,[0,0],[69,69]],"map_tile_corner.png":[[118,19,4,4],0,[0,0],[4,4]],"map_tile_edge.png":[[118,11,4,4],0,[0,0],[4,4]],"map_tile_edge_long.png":[[110,3,70,4],1,[0,0],[70,4]],"map_tile_in_corner.png":[[118,3,4,4],0,[0,0],[4,4]],"tile_center.png":[[3,3,70,70],0,[0,0],[70,70]]},"metadata":{"format":2,"realTextureFileName":"mapTiles_half@6x.png","size":"{128,256}","textureFileName":"mapTiles_half@6x.png"}}