{"frames":{"homeAnim_boatnplane/boat_big1.png":[[2,2,85,71],1,[-4,0],[93,71]],"homeAnim_boatnplane/boat_shadow.png":[[134,2,74,51],1,[0,0],[74,51]],"homeAnim_boatnplane/boat_water.png":[[2,89,74,27],0,[0,-1],[74,29]],"homeAnim_boatnplane/boat_water1.png":[[75,2,83,57],1,[0,0],[83,57]],"homeAnim_boatnplane/duck_water.png":[[78,87,63,34],0,[0,0],[63,34]],"homeAnim_boatnplane/littleboat.png":[[202,53,34,45],1,[0,0],[34,45]],"homeAnim_boatnplane/plane_body.png":[[187,2,51,49],0,[0,1],[51,51]],"homeAnim_boatnplane/plane_shadow.png":[[143,78,57,37],0,[0,0],[57,37]],"homeAnim_boatnplane/plane_water.png":[[202,89,24,26],0,[0,0],[24,26]]},"metadata":{"format":2,"realTextureFileName":"homeAnim_boatnplane@6x.png","size":"{249,123}","textureFileName":"homeAnim_boatnplane@6x.png"}}