{"frames":{"share_unlockDigMode/bubble2inner.png":[[513,140,12,13],0,[0,0],[12,13]],"share_unlockDigMode/bubbleinner.png":[[487,140,22,24],1,[-1,0],[24,24]],"share_unlockDigMode/face_L.png":[[622,134,85,27],0,[0,0],[85,27]],"share_unlockDigMode/share_diving_bubble.png":[[182,2,303,151],0,[-1,1],[311,161]],"share_unlockDigMode/share_diving_chicken.png":[[487,2,133,136],0,[0,0],[155,160]],"share_unlockDigMode/share_diving_frog.png":[[2,2,178,160],0,[3,-2],[194,166]],"share_unlockDigMode/share_haigui.png":[[622,2,130,92],1,[5,-3],[140,108]]},"metadata":{"format":2,"realTextureFileName":"share_unlockDigMode@6x.png","size":"{716,164}","textureFileName":"share_unlockDigMode@6x.png"}}