{"frames":{"hssg_elk/background.png":[[2,2,214,204],0,[0,0],[214,204]],"hssg_elk/background_half.png":[[2,404,206,194],0,[0,0],[206,194]],"hssg_elk/background_none.png":[[2,208,206,194],0,[0,0],[206,194]]},"metadata":{"format":2,"realTextureFileName":"hssg_elk@6x.png","size":"{218,600}","textureFileName":"hssg_elk@6x.png"}}