{"frames":{"hssg_63/background.png":[[2,2,64,68],0,[0,0],[64,68]],"hssg_63/background_half.png":[[68,2,57,59],0,[0,0],[57,59]],"hssg_63/background_none.png":[[68,63,56,59],0,[0,0],[56,59]]},"metadata":{"format":2,"realTextureFileName":"hssg_63@6x.png","size":"{127,124}","textureFileName":"hssg_63@6x.png"}}