{"frames":{"homeSceneStarGroupBomb/fireflower04.png":[[37,2,16,16],0,[0,0],[16,16]],"homeSceneStarGroupBomb/fireflower05.png":[[38,37,3,10],1,[0,0],[3,10]],"homeSceneStarGroupBomb/fireflower08.png":[[20,37,16,16],0,[0,0],[16,16]],"homeSceneStarGroupBomb/star_starsystembitmap.png":[[37,20,14,15],0,[0,0],[14,15]],"homeSceneStarGroupBomb/star_starsystembright.png":[[2,2,33,33],0,[0,0],[33,33]],"homeSceneStarGroupBomb/star_starsystemglow01.png":[[2,37,16,16],0,[0,0],[16,16]]},"metadata":{"format":2,"realTextureFileName":"homeSceneStarGroupBomb@6x.png","size":"{55,55}","textureFileName":"homeSceneStarGroupBomb@6x.png"}}