{"frames":{"share_unlockBossMode/bear_boss221.png":[[2,2,288,270],0,[-1,-8],[332,288]],"share_unlockBossMode/chicken_boss21.png":[[292,2,133,125],1,[-1,-2],[135,129]]},"metadata":{"format":2,"realTextureFileName":"share_unlockBossMode@6x.png","size":"{419,274}","textureFileName":"share_unlockBossMode@6x.png"}}