{"frames":{"hssg_prettyfox/background.png":[[2,2,118,103],0,[0,0],[118,103]],"hssg_prettyfox/background_half.png":[[2,203,109,94],0,[0,0],[109,94]],"hssg_prettyfox/background_none.png":[[2,107,109,94],0,[0,0],[109,94]]},"metadata":{"format":2,"realTextureFileName":"hssg_prettyfox@6x.png","size":"{122,299}","textureFileName":"hssg_prettyfox@6x.png"}}