{"frames":{"hssg_whale/background.png":[[2,2,150,123],0,[0,0],[150,123]],"hssg_whale/background_half.png":[[298,2,142,119],0,[0,0],[142,119]],"hssg_whale/background_none.png":[[154,2,142,119],0,[0,0],[142,119]]},"metadata":{"format":2,"realTextureFileName":"hssg_whale@6x.png","size":"{442,127}","textureFileName":"hssg_whale@6x.png"}}