{"frames":{"obstacle_anim_pursue/chicken3434.png":[[2,376,44,44],0,[0,0],[44,44]],"obstacle_anim_pursue/dige1_pursue_guide.png":[[2,98,44,46],0,[0,0],[44,46]],"obstacle_anim_pursue/fox7677.png":[[2,330,44,44],0,[0,0],[44,44]],"obstacle_anim_pursue/frog1343434.png":[[2,284,44,44],0,[0,0],[44,44]],"obstacle_anim_pursue/green_heart_pursue.png":[[2,50,44,46],0,[1,-1],[48,48]],"obstacle_anim_pursue/heart_red_pursue.png":[[2,2,44,46],0,[1,-1],[48,48]],"obstacle_anim_pursue/hippo343434.png":[[2,238,44,44],0,[0,0],[44,44]],"obstacle_anim_pursue/owl1113434.png":[[2,192,44,44],0,[0,0],[44,44]],"obstacle_anim_pursue/tile_center.png":[[2,146,44,44],0,[0,0],[44,44]]},"metadata":{"format":2,"realTextureFileName":"obstacle_anim_pursue@6x.png","size":"{48,425}","textureFileName":"obstacle_anim_pursue@6x.png"}}