{"frames":{"hssg_48/background.png":[[2,2,161,186],0,[0,0],[161,186]],"hssg_48/background_half.png":[[320,2,153,178],0,[0,0],[153,178]],"hssg_48/background_none.png":[[165,2,153,178],0,[0,0],[153,178]]},"metadata":{"format":2,"realTextureFileName":"hssg_48@6x.png","size":"{475,190}","textureFileName":"hssg_48@6x.png"}}