{"frames":{"zhoumo01/b_green_btn.png":[[2,2,157,73],1,[-1,1],[159,75]],"zhoumo01/board.png":[[77,2,284,149],0,[0,0],[284,149]],"zhoumo01/title.png":[[77,153,227,41],0,[0,5],[303,51]]},"metadata":{"format":2,"realTextureFileName":"zhoumo01@6x.png","size":"{363,196}","textureFileName":"zhoumo01@6x.png"}}