{"frames":{"rm_get_playtime/HE_0.png":[[2,591,119,73],0,[-1,1],[121,75]],"rm_get_playtime/HE_1.png":[[2,591,119,73],0,[-1,1],[121,75]],"rm_get_playtime/HE_2.png":[[2,591,119,73],0,[-1,1],[121,75]],"rm_get_playtime/_22_副本_4.png":[[123,591,68,51],1,[0,0],[68,51]],"rm_get_playtime/background.png":[[2,2,413,422],0,[0,0],[413,422]],"rm_get_playtime/blueback.png":[[359,591,50,50],0,[0,0],[50,50]],"rm_get_playtime/item_blue_bg.png":[[2,426,396,69],0,[0,0],[396,69]],"rm_get_playtime/item_yellow_bg.png":[[2,497,381,92],0,[0,0],[381,92]],"rm_get_playtime/yellowback.png":[[300,591,57,57],0,[0,0],[57,57]],"rm_get_playtime/重复项目文件夹_gold.png":[[238,591,60,60],0,[0,0],[60,60]],"rm_get_playtime/重复项目文件夹_silver.png":[[176,591,60,60],0,[0,0],[60,60]]},"metadata":{"format":2,"realTextureFileName":"rm_get_playtime@6x.png","size":"{417,666}","textureFileName":"rm_get_playtime@6x.png"}}