{"frames":{"hssg_claw/background.png":[[2,2,86,101],0,[0,0],[86,101]],"hssg_claw/background_half.png":[[90,2,77,93],0,[0,0],[77,93]],"hssg_claw/background_none.png":[[169,2,77,92],0,[0,0],[77,92]]},"metadata":{"format":2,"realTextureFileName":"hssg_claw@6x.png","size":"{248,105}","textureFileName":"hssg_claw@6x.png"}}