{"frames":{"coupon_panel/clickRewardBtn.png":[[374,40,68,50],1,[-1,0],[70,50]],"coupon_panel/couponbear.png":[[2,2,266,117],0,[0,24],[268,165]],"coupon_panel/disabledRewardBtn.png":[[322,40,68,50],1,[-1,0],[70,50]],"coupon_panel/inputname1.png":[[399,2,32,30],1,[0,0],[32,30]],"coupon_panel/normalRewardBtn.png":[[270,40,68,50],1,[-1,0],[70,50]],"coupon_panel/title.png":[[270,2,127,36],0,[-1,1],[129,38]]},"metadata":{"format":2,"realTextureFileName":"coupon_panel@6x.png","size":"{431,121}","textureFileName":"coupon_panel@6x.png"}}