{"frames":{"pause_panel/bg2.png":[[2,2,56,24],1,[0,0],[56,24]],"pause_panel/btn_play.png":[[129,2,36,41],0,[0,0],[36,41]],"pause_panel/btn_stop.png":[[91,2,36,41],0,[0,0],[36,41]],"pause_panel/exit_icon.png":[[470,2,31,32],1,[0,0],[31,32]],"pause_panel/help.png":[[28,2,61,53],0,[0,0],[61,59]],"pause_panel/icon_play.png":[[397,2,38,38],0,[0,0],[38,38]],"pause_panel/icon_stop.png":[[357,2,38,38],0,[0,0],[38,38]],"pause_panel/music_off.png":[[167,2,40,39],1,[0,-1],[48,55]],"pause_panel/music_on.png":[[286,2,34,39],0,[-3,-1],[48,55]],"pause_panel/on.png":[[470,35,30,25],0,[0,0],[30,25]],"pause_panel/restart_icon.png":[[322,2,33,39],0,[0,0],[33,39]],"pause_panel/sound_off.png":[[208,2,38,40],0,[0,-1],[44,50]],"pause_panel/sound_on.png":[[248,2,36,40],0,[0,-1],[44,50]],"pause_panel/time_icon.png":[[437,2,31,32],0,[0,0],[31,32]]},"metadata":{"format":2,"realTextureFileName":"pause_panel@6x.png","size":"{504,62}","textureFileName":"pause_panel@6x.png"}}