{"frames":{"homeAnim_slider/huati1.png":[[2,2,207,179],0,[0,0],[207,179]],"homeAnim_slider/huati_chick.png":[[211,12,7,6],0,[0,0],[7,6]],"homeAnim_slider/huati_hippo.png":[[211,2,7,8],0,[0,0],[7,8]],"homeAnim_slider/huati_shadow.png":[[211,28,8,4],1,[0,0],[8,4]],"homeAnim_slider/huati_water.png":[[211,20,6,6],0,[0,0],[6,6]]},"metadata":{"format":2,"realTextureFileName":"homeAnim_slider@6x.png","size":"{220,183}","textureFileName":"homeAnim_slider@6x.png"}}