{"frames":{"hssg_globe/background.png":[[2,2,119,171],0,[0,0],[119,171]],"hssg_globe/background_half.png":[[2,340,111,163],0,[0,0],[111,163]],"hssg_globe/background_none.png":[[2,175,111,163],0,[0,0],[111,163]]},"metadata":{"format":2,"realTextureFileName":"hssg_globe@6x.png","size":"{123,505}","textureFileName":"hssg_globe@6x.png"}}