{"frames":{"share_friendFirstRank/banner.png":[[2,138,413,91],0,[0,0],[413,91]],"share_friendFirstRank/coloerfulpaper125.png":[[2,2,327,134],0,[0,0],[327,134]],"share_friendFirstRank/firstRank.png":[[331,2,224,96],0,[0,0],[224,96]],"share_friendFirstRank/racon_light_15.png":[[417,100,168,124],0,[0,0],[176,128]]},"metadata":{"format":2,"realTextureFileName":"share_friendFirstRank@6x.png","size":"{587,231}","textureFileName":"share_friendFirstRank@6x.png"}}