{"frames":{"energy_invite_panel/mask.png":[[132,418,6,6],0,[0,0],[6,6]],"energy_invite_panel/poser.png":[[2,2,373,414],0,[0,1],[373,416]],"energy_invite_panel/wechatFriends.png":[[64,418,66,53],0,[0,0],[66,53]],"energy_invite_panel/wechatTimeline.png":[[2,418,60,60],0,[0,0],[60,60]]},"metadata":{"format":2,"realTextureFileName":"energy_invite_panel@6x.png","size":"{377,480}","textureFileName":"energy_invite_panel@6x.png"}}