{"frames":{"ActivityMissionIcon/ballon1.png":[[260,2,61,44],0,[0,0],[61,44]],"ActivityMissionIcon/ballon2.png":[[189,2,69,53],0,[0,0],[69,53]],"ActivityMissionIcon/balloonhead.png":[[108,24,32,40],1,[0,0],[32,40]],"ActivityMissionIcon/basket.png":[[175,24,26,12],1,[0,0],[26,12]],"ActivityMissionIcon/bright.png":[[276,48,14,14],0,[0,0],[14,14]],"ActivityMissionIcon/camera1.png":[[150,24,23,16],0,[0,0],[23,16]],"ActivityMissionIcon/icon_title.png":[[103,2,84,20],0,[0,2],[84,24]],"ActivityMissionIcon/lighta.png":[[2,2,41,99],1,[0,0],[41,99]],"ActivityMissionIcon/rewardtxt1.png":[[55,45,51,17],0,[0,0],[63,19]],"ActivityMissionIcon/rewardtxt2.png":[[2,45,51,17],0,[0,0],[63,19]],"ActivityMissionIcon/shining0fmapinvite1.png":[[260,48,14,14],0,[0,0],[14,14]],"ActivityMissionIcon/trash_lines.png":[[150,42,9,9],0,[0,0],[9,9]]},"metadata":{"format":2,"realTextureFileName":"ActivityMissionIcon@6x.png","size":"{323,64}","textureFileName":"ActivityMissionIcon@6x.png"}}