{"frames":{"luckybuy/clock.png":[[164,48,46,46],0,[0,0],[46,46]],"luckybuy/gold.png":[[102,48,60,60],0,[0,0],[60,60]],"luckybuy/hand.png":[[164,96,3,14],0,[0,0],[3,14]],"luckybuy/panel9_bubble.png":[[2,2,110,98],1,[0,-1],[114,100]],"luckybuy/panel9_pnl_bubble.png":[[2,2,110,98],1,[0,-1],[114,100]],"luckybuy/res_wait_bar.png":[[212,48,35,29],0,[0,0],[35,29]],"luckybuy/wait_bg.png":[[102,2,156,44],0,[0,0],[156,44]]},"metadata":{"format":2,"realTextureFileName":"luckybuy@6x.png","size":"{260,114}","textureFileName":"luckybuy@6x.png"}}