{"frames":{"hssg_note_book/background.png":[[2,2,118,93],0,[0,0],[118,93]],"hssg_note_book/background_half.png":[[2,183,109,84],0,[0,0],[109,84]],"hssg_note_book/background_none.png":[[2,97,109,84],0,[0,0],[109,84]]},"metadata":{"format":2,"realTextureFileName":"hssg_note_book@6x.png","size":"{122,269}","textureFileName":"hssg_note_book@6x.png"}}