{"frames":{"hssg_bread/background.png":[[130,2,71,89],1,[0,0],[71,89]],"hssg_bread/background_half.png":[[67,2,61,80],0,[0,0],[61,80]],"hssg_bread/background_none.png":[[2,2,63,80],0,[-1,1],[71,84]]},"metadata":{"format":2,"realTextureFileName":"hssg_bread@6x.png","size":"{221,84}","textureFileName":"hssg_bread@6x.png"}}