{"frames":{"hssg_littlefish/background.png":[[2,278,69,110],0,[0,0],[69,110]],"hssg_littlefish/background_half.png":[[2,140,86,136],0,[0,0],[86,136]],"hssg_littlefish/background_none.png":[[2,2,86,136],0,[0,0],[86,136]]},"metadata":{"format":2,"realTextureFileName":"hssg_littlefish@6x.png","size":"{90,390}","textureFileName":"hssg_littlefish@6x.png"}}