{
    "frames": {
        "homescene_light_0000.png": [
            [1520, 207, 1, 1], 0, [-56, 24.5],
            [113, 50]
        ],
        "homescene_light_0001.png": [
            [1861, 228, 11, 10], 1, [0, -1],
            [113, 50]
        ],
        "homescene_light_0002.png": [
            [1556, 222, 11, 10], 0, [0, -1],
            [113, 50]
        ],
        "homescene_light_0003.png": [
            [474, 227, 23, 12], 0, [-5, 0],
            [113, 50]
        ],
        "homescene_light_0004.png": [
            [1204, 86, 95, 24], 0, [0, 3],
            [113, 50]
        ],
        "homescene_light_0005.png": [
            [1945, 30, 97, 26], 0, [0, 3],
            [113, 50]
        ],
        "homescene_light_0006.png": [
            [1945, 2, 97, 26], 0, [0, 3],
            [113, 50]
        ],
        "homescene_light_0007.png": [
            [1103, 86, 99, 26], 0, [0, 3],
            [113, 50]
        ],
        "homescene_light_0008.png": [
            [899, 116, 99, 26], 0, [0, 3],
            [113, 50]
        ],
        "homescene_light_0009.png": [
            [1002, 86, 99, 26], 0, [0, 3],
            [113, 50]
        ],
        "homescene_light_0010.png": [
            [378, 88, 101, 26], 1, [0, 3],
            [113, 50]
        ],
        "homescene_light_0011.png": [
            [796, 126, 101, 28], 0, [0, 4],
            [113, 50]
        ],
        "homescene_light_0012.png": [
            [899, 86, 101, 28], 0, [0, 4],
            [113, 50]
        ],
        "homescene_light_0013.png": [
            [446, 86, 101, 28], 1, [0, 4],
            [113, 50]
        ],
        "homescene_light_0014.png": [
            [796, 86, 101, 38], 0, [0, -1],
            [113, 50]
        ],
        "homescene_light_0015.png": [
            [476, 84, 101, 38], 1, [0, -1],
            [113, 50]
        ],
        "homescene_light_0016.png": [
            [406, 86, 101, 38], 1, [0, -1],
            [113, 50]
        ],
        "homescene_light_0017.png": [
            [1717, 44, 103, 40], 0, [0, -1],
            [113, 50]
        ],
        "homescene_light_0018.png": [
            [1612, 44, 103, 40], 0, [0, -1],
            [113, 50]
        ],
        "homescene_light_0019.png": [
            [1507, 44, 103, 40], 0, [0, -1],
            [113, 50]
        ],
        "homescene_light_0020.png": [
            [1400, 44, 105, 40], 0, [0, -1],
            [113, 50]
        ],
        "homescene_light_0021.png": [
            [1293, 44, 105, 40], 0, [0, -1],
            [113, 50]
        ],
        "homescene_light_0022.png": [
            [1186, 44, 105, 40], 0, [0, -1],
            [113, 50]
        ],
        "homescene_light_0023.png": [
            [1079, 44, 105, 40], 0, [0, -1],
            [113, 50]
        ],
        "homescene_light_0024.png": [
            [1838, 2, 105, 40], 0, [0, -1],
            [113, 50]
        ],
        "homescene_light_0025.png": [
            [1731, 2, 105, 40], 0, [0, -1],
            [113, 50]
        ],
        "homescene_light_0026.png": [
            [1624, 2, 105, 40], 0, [0, -1],
            [113, 50]
        ],
        "homescene_light_0027.png": [
            [1515, 2, 107, 40], 0, [-1, -1],
            [113, 50]
        ],
        "homescene_light_0028.png": [
            [1406, 2, 107, 40], 0, [-1, -1],
            [113, 50]
        ],
        "homescene_light_0029.png": [
            [970, 2, 107, 42], 0, [0, 0],
            [113, 50]
        ],
        "homescene_light_0030.png": [
            [861, 2, 107, 42], 0, [0, 0],
            [113, 50]
        ],
        "homescene_light_0031.png": [
            [752, 2, 107, 42], 0, [0, 0],
            [113, 50]
        ],
        "homescene_light_0032.png": [
            [643, 2, 107, 42], 0, [0, 0],
            [113, 50]
        ],
        "homescene_light_0033.png": [
            [534, 2, 107, 42], 0, [0, 0],
            [113, 50]
        ],
        "homescene_light_0034.png": [
            [1297, 2, 107, 40], 0, [0, 0],
            [113, 50]
        ],
        "homescene_light_0035.png": [
            [1188, 2, 107, 40], 0, [0, 0],
            [113, 50]
        ],
        "homescene_light_0036.png": [
            [1079, 2, 107, 40], 0, [0, 0],
            [113, 50]
        ],
        "homescene_light_0037.png": [
            [970, 46, 107, 38], 0, [0, 2],
            [113, 50]
        ],
        "homescene_light_0038.png": [
            [861, 46, 107, 38], 0, [0, 2],
            [113, 50]
        ],
        "homescene_light_0039.png": [
            [752, 46, 107, 38], 0, [0, 2],
            [113, 50]
        ],
        "homescene_light_0040.png": [
            [643, 46, 107, 38], 0, [0, 2],
            [113, 50]
        ],
        "homescene_light_0041.png": [
            [534, 46, 107, 38], 0, [0, 2],
            [113, 50]
        ],
        "homescene_light_0042.png": [
            [338, 88, 105, 38], 1, [0, 2],
            [113, 50]
        ],
        "homescene_light_0043.png": [
            [298, 90, 105, 38], 1, [0, 2],
            [113, 50]
        ],
        "homescene_light_0044.png": [
            [1822, 44, 105, 38], 0, [-1, 2],
            [113, 50]
        ],
        "homescene_light_0045.png": [
            [1301, 86, 73, 38], 0, [2, 2],
            [113, 50]
        ],
        "homescene_light_0046.png": [
            [2, 196, 73, 38], 0, [1, 2],
            [113, 50]
        ],
        "homescene_light_0047.png": [
            [1131, 180, 59, 30], 1, [2, -1],
            [113, 50]
        ],
        "homescene_light_0048.png": [
            [1376, 154, 59, 28], 0, [2, 1],
            [113, 50]
        ],
        "homescene_light_0049.png": [
            [1437, 154, 59, 26], 1, [2, 0],
            [113, 50]
        ],
        "homescene_light_0050.png": [
            [1809, 86, 59, 18], 1, [2, 4],
            [113, 50]
        ],
        "homescene_light_0051.png": [
            [1829, 138, 55, 18], 0, [3, 4],
            [113, 50]
        ],
        "homescene_light_0052.png": [
            [1417, 184, 55, 18], 1, [3, 4],
            [113, 50]
        ],
        "homescene_light_0053.png": [
            [1397, 184, 55, 18], 1, [2, 4],
            [113, 50]
        ],
        "homescene_light_0054.png": [
            [1520, 207, 1, 1], 0, [-56, 24.5],
            [113, 50]
        ],
        "homescene_light_0055.png": [
            [1520, 207, 1, 1], 0, [-56, 24.5],
            [113, 50]
        ],
        "homescene_light_0056.png": [
            [1520, 207, 1, 1], 0, [-56, 24.5],
            [113, 50]
        ],
        "homescene_light_0057.png": [
            [1520, 207, 1, 1], 0, [-56, 24.5],
            [113, 50]
        ],
        "homescene_light_0058.png": [
            [1520, 207, 1, 1], 0, [-56, 24.5],
            [113, 50]
        ],
        "homescene_light_0059.png": [
            [1520, 207, 1, 1], 0, [-56, 24.5],
            [113, 50]
        ],
        "level_icon.png": [
            [584, 164, 65, 65], 0, [0, 0],
            [69, 69]
        ],
        "level_icon_mode_1.png": [
            [1481, 213, 26, 40], 1, [0, 2],
            [44, 44]
        ],
        "level_icon_mode_2.png": [
            [1437, 215, 42, 24], 0, [0, -7],
            [44, 44]
        ],
        "level_icon_mode_3.png": [
            [1569, 205, 42, 34], 0, [0, 0],
            [44, 44]
        ],
        "level_icon_mode_5.png": [
            [476, 187, 38, 38], 0, [0, -2],
            [44, 44]
        ],
        "level_icon_star_1.png": [
            [739, 216, 20, 20], 0, [0, 0],
            [20, 20]
        ],
        "level_icon_star_2.png": [
            [717, 216, 20, 20], 0, [0, 0],
            [20, 20]
        ],
        "level_icon_star_3.png": [
            [452, 214, 20, 20], 0, [0, 0],
            [20, 20]
        ],
        "level_icon_unlock.png": [
            [896, 203, 31, 31], 0, [0, 0],
            [31, 31]
        ],
        "level_icon_wave.png": [
            [967, 144, 61, 39], 1, [-1, 1],
            [63, 41]
        ],
        "level_icon_wave2.png": [
            [699, 218, 21, 16], 1, [0, 0],
            [21, 16]
        ],
        "new_level_node_anim_0000.png": [
            [798, 210, 29, 30], 1, [11, -14],
            [101, 92]
        ],
        "new_level_node_anim_0001.png": [
            [1523, 207, 31, 32], 0, [13, -13],
            [101, 92]
        ],
        "new_level_node_anim_0002.png": [
            [1821, 204, 35, 38], 1, [14, -10],
            [101, 92]
        ],
        "new_level_node_anim_0003.png": [
            [298, 197, 37, 42], 0, [16, -8],
            [101, 92]
        ],
        "new_level_node_anim_0004.png": [
            [1924, 196, 37, 44], 1, [16, -7],
            [101, 92]
        ],
        "new_level_node_anim_0005.png": [
            [1659, 150, 37, 44], 0, [16, -7],
            [101, 92]
        ],
        "new_level_node_anim_0006.png": [
            [1465, 153, 53, 58], 0, [16, -6],
            [101, 92]
        ],
        "new_level_node_anim_0007.png": [
            [1277, 183, 53, 58], 1, [16, -7],
            [101, 92]
        ],
        "new_level_node_anim_0008.png": [
            [1201, 114, 53, 58], 0, [16, -7],
            [101, 92]
        ],
        "new_level_node_anim_0009.png": [
            [1337, 184, 55, 58], 1, [15, -7],
            [101, 92]
        ],
        "new_level_node_anim_0010.png": [
            [1297, 126, 55, 60], 1, [16, -7],
            [101, 92]
        ],
        "new_level_node_anim_0011.png": [
            [1220, 174, 55, 60], 0, [16, -7],
            [101, 92]
        ],
        "new_level_node_anim_0012.png": [
            [516, 164, 59, 66], 1, [15, -7],
            [101, 92]
        ],
        "new_level_node_anim_0013.png": [
            [1739, 86, 59, 68], 1, [16, -7],
            [101, 92]
        ],
        "new_level_node_anim_0014.png": [
            [1669, 86, 61, 68], 1, [16, -7],
            [101, 92]
        ],
        "new_level_node_anim_0015.png": [
            [1525, 86, 63, 70], 1, [16, -7],
            [101, 92]
        ],
        "new_level_node_anim_0016.png": [
            [1451, 86, 65, 72], 1, [15, -7],
            [101, 92]
        ],
        "new_level_node_anim_0017.png": [
            [727, 86, 67, 74], 0, [15, -7],
            [101, 92]
        ],
        "new_level_node_anim_0018.png": [
            [587, 86, 69, 76], 0, [15, -7],
            [101, 92]
        ],
        "new_level_node_anim_0019.png": [
            [516, 86, 69, 76], 0, [15, -7],
            [101, 92]
        ],
        "new_level_node_anim_0020.png": [
            [83, 106, 69, 78], 0, [16, -7],
            [101, 92]
        ],
        "new_level_node_anim_0021.png": [
            [83, 186, 53, 58], 1, [16, -7],
            [101, 92]
        ],
        "new_level_node_anim_0022.png": [
            [1071, 114, 61, 64], 0, [20, -3],
            [101, 92]
        ],
        "new_level_node_anim_0023.png": [
            [1134, 114, 65, 58], 0, [18, 0],
            [101, 92]
        ],
        "new_level_node_anim_0024.png": [
            [1064, 180, 65, 58], 0, [18, 0],
            [101, 92]
        ],
        "new_level_node_anim_0025.png": [
            [1359, 126, 15, 54], 0, [-6, 1],
            [101, 92]
        ],
        "new_level_node_anim_0026.png": [
            [1520, 207, 1, 1], 0, [-50, 45.5],
            [101, 92]
        ],
        "new_level_node_anim_0027.png": [
            [1520, 207, 1, 1], 0, [-50, 45.5],
            [101, 92]
        ],
        "new_level_node_anim_0028.png": [
            [1520, 207, 1, 1], 0, [-50, 45.5],
            [101, 92]
        ],
        "new_level_node_anim_0029.png": [
            [1520, 207, 1, 1], 0, [-50, 45.5],
            [101, 92]
        ],
        "new_level_node_anim_boss_0000.png": [
            [1569, 151, 47, 52], 0, [0, 1],
            [79, 88]
        ],
        "new_level_node_anim_boss_0001.png": [
            [1520, 153, 47, 52], 0, [0, 1],
            [79, 88]
        ],
        "new_level_node_anim_boss_0002.png": [
            [847, 156, 47, 52], 0, [0, 1],
            [79, 88]
        ],
        "new_level_node_anim_boss_0003.png": [
            [798, 156, 47, 52], 0, [0, 1],
            [79, 88]
        ],
        "new_level_node_anim_boss_0004.png": [
            [749, 162, 47, 52], 0, [0, 1],
            [79, 88]
        ],
        "new_level_node_anim_boss_0005.png": [
            [700, 162, 47, 52], 0, [0, 1],
            [79, 88]
        ],
        "new_level_node_anim_boss_0006.png": [
            [651, 164, 47, 52], 0, [0, 1],
            [79, 88]
        ],
        "new_level_node_anim_boss_0007.png": [
            [1981, 147, 47, 52], 1, [0, 1],
            [79, 88]
        ],
        "new_level_node_anim_boss_0008.png": [
            [1927, 147, 47, 52], 1, [0, 1],
            [79, 88]
        ],
        "new_level_node_anim_boss_0009.png": [
            [1981, 98, 47, 52], 1, [0, 1],
            [79, 88]
        ],
        "new_level_node_anim_boss_0010.png": [
            [1927, 98, 47, 52], 1, [0, 0],
            [79, 88]
        ],
        "new_level_node_anim_boss_0011.png": [
            [1163, 174, 55, 60], 0, [0, -1],
            [79, 88]
        ],
        "new_level_node_anim_boss_0012.png": [
            [658, 86, 67, 74], 0, [0, 0],
            [79, 88]
        ],
        "new_level_node_anim_boss_0013.png": [
            [227, 90, 69, 76], 0, [0, 0],
            [79, 88]
        ],
        "new_level_node_anim_boss_0014.png": [
            [154, 90, 71, 78], 0, [0, 0],
            [79, 88]
        ],
        "new_level_node_anim_boss_0015.png": [
            [461, 2, 71, 80], 0, [0, 0],
            [79, 88]
        ],
        "new_level_node_anim_boss_0016.png": [
            [386, 2, 73, 82], 0, [0, 0],
            [79, 88]
        ],
        "new_level_node_anim_boss_0017.png": [
            [309, 2, 75, 84], 0, [0, 0],
            [79, 88]
        ],
        "new_level_node_anim_boss_0018.png": [
            [230, 2, 77, 86], 0, [0, 0],
            [79, 88]
        ],
        "new_level_node_anim_boss_0019.png": [
            [149, 2, 79, 86], 0, [0, 0],
            [79, 88]
        ],
        "new_level_node_anim_boss_0020.png": [
            [2, 106, 79, 88], 0, [0, 0],
            [79, 88]
        ],
        "new_level_node_anim_boss_0021.png": [
            [1878, 84, 47, 52], 0, [0, 1],
            [79, 88]
        ],
        "new_level_node_anim_boss_0022.png": [
            [1008, 114, 61, 64], 0, [8, 7],
            [79, 88]
        ],
        "new_level_node_anim_boss_0023.png": [
            [232, 168, 71, 64], 1, [4, 7],
            [79, 88]
        ],
        "new_level_node_anim_boss_0024.png": [
            [1376, 86, 73, 66], 0, [3, 7],
            [79, 88]
        ],
        "new_level_node_anim_boss_0025.png": [
            [899, 144, 57, 66], 1, [-5, 7],
            [79, 88]
        ],
        "new_level_node_anim_boss_0026.png": [
            [1829, 84, 47, 52], 0, [0, 1],
            [79, 88]
        ],
        "new_level_node_anim_boss_0027.png": [
            [1829, 84, 47, 52], 0, [0, 1],
            [79, 88]
        ],
        "new_level_node_anim_boss_0028.png": [
            [1008, 180, 59, 54], 1, [-6, -1],
            [79, 88]
        ],
        "new_level_node_anim_boss_0029.png": [
            [1829, 84, 47, 52], 0, [0, 1],
            [79, 88]
        ],
        "rank_anim_arrow.png": [
            [1556, 207, 13, 11], 1, [0, 0],
            [15, 13]
        ],
        "rank_anim_boss.png": [
            [154, 170, 69, 76], 1, [-2, 2],
            [79, 86]
        ],
        "rank_anim_other.png": [
            [1597, 86, 62, 70], 1, [-2, 2],
            [74, 78]
        ],
        "rank_anim_star.png": [
            [1929, 44, 10, 10], 0, [0, 0],
            [10, 10]
        ],
        "rank_anim_water.png": [
            [2, 2, 145, 102], 0, [-1, 1],
            [167, 112]
        ],
        "reached.png": [
            [1256, 112, 39, 53], 0, [0, 0],
            [39, 53]
        ],
        "reached1.png": [
            [1970, 196, 39, 44], 1, [0, 0],
            [39, 44]
        ],
        "reached11.png": [
            [1883, 184, 39, 44], 0, [0, 0],
            [39, 44]
        ],
        "reached2.png": [
            [1645, 196, 39, 44], 1, [0, 0],
            [39, 44]
        ],
        "reached3.png": [
            [1821, 158, 39, 44], 0, [0, 0],
            [39, 44]
        ],
        "reached5.png": [
            [1780, 193, 39, 44], 0, [0, 0],
            [39, 44]
        ],
        "reached7.png": [
            [406, 189, 44, 50], 0, [0, 0],
            [44, 50]
        ],
        "reached9.png": [
            [1739, 193, 39, 44], 0, [0, 0],
            [39, 44]
        ],
        "s_0005_01.png": [
            [860, 210, 26, 28], 1, [0, 0],
            [26, 28]
        ],
        "s_0008_shadow.png": [
            [1862, 158, 26, 19], 1, [0, 0],
            [26, 19]
        ],
        "s_0009_bossshadow.png": [
            [1613, 205, 34, 30], 1, [0, 0],
            [34, 30]
        ],
        "starblue_filtered.png": [
            [676, 218, 21, 21], 0, [0, 0],
            [21, 21]
        ],
        "starblue_filtered_glow.png": [
            [651, 218, 23, 21], 0, [0, 0],
            [23, 21]
        ],
        "starempty.png": [
            [1861, 207, 19, 19], 0, [0, 0],
            [21, 21]
        ],
        "stargold.png": [
            [1862, 186, 19, 19], 0, [0, 0],
            [21, 21]
        ],
        "stargold_glow.png": [
            [830, 210, 28, 27], 0, [0, 0],
            [28, 27]
        ],
        "starorange_filter.png": [
            [761, 216, 19, 19], 0, [0, 0],
            [21, 21]
        ],
        "starorange_filter_glow.png": [
            [452, 189, 23, 22], 1, [0, 0],
            [23, 22]
        ],
        "teach.png": [
            [2016, 196, 18, 18], 0, [0, 0],
            [20, 20]
        ],
        "unreached1.png": [
            [1698, 195, 39, 44], 0, [0, 0],
            [39, 44]
        ],
        "unreached11.png": [
            [1780, 147, 39, 44], 0, [0, 0],
            [39, 44]
        ],
        "unreached2.png": [
            [1739, 147, 39, 44], 0, [0, 0],
            [39, 44]
        ],
        "unreached3.png": [
            [1698, 149, 39, 44], 0, [0, 0],
            [39, 44]
        ],
        "unreached5.png": [
            [1618, 150, 39, 44], 0, [0, 0],
            [39, 44]
        ],
        "unreached7.png": [
            [338, 195, 44, 50], 1, [0, 0],
            [44, 50]
        ],
        "unreached9.png": [
            [1886, 138, 39, 44], 0, [0, 0],
            [39, 44]
        ],
        "water_rand_area.png": [
            [1929, 58, 103, 38], 0, [0, 0],
            [103, 38]
        ]
    },
    "metadata": {
        "format": 2,
        "realTextureFileName": "homeLevelIcon@6x.png",
        "size": "{2044,241}",
        "textureFileName": "homeLevelIcon@6x.png"
    }
}