{"frames":{"chest/inner_bg.png":[[2,672,313,242],0,[0,0],[313,242]],"chest/item_bg.png":[[317,672,32,30],0,[0,0],[32,30]],"chest/panel_bg.png":[[2,2,420,668],0,[-2,2],[424,672]],"chest/元件_033.png":[[351,672,20,18],0,[-2,1],[56,54]]},"metadata":{"format":2,"realTextureFileName":"chest@6x.png","size":"{424,916}","textureFileName":"chest@6x.png"}}