{"frames":{"ActivityMissionHelperTip/act12_bubble.png":[[47,2,189,49],0,[0,0],[189,49]],"ActivityMissionHelperTip/act12_bubble_arrow.png":[[238,2,19,9],1,[0,0],[19,9]],"ActivityMissionHelperTip/act12_icon_bird.png":[[2,2,54,43],1,[0,0],[54,43]]},"metadata":{"format":2,"realTextureFileName":"ActivityMissionHelperTip@6x.png","size":"{249,58}","textureFileName":"ActivityMissionHelperTip@6x.png"}}