{"frames":{"hssg_hippo_drink/background.png":[[2,2,129,128],1,[0,0],[129,128]],"hssg_hippo_drink/background_half.png":[[132,123,121,119],0,[0,0],[121,119]],"hssg_hippo_drink/background_none.png":[[132,2,121,119],0,[0,0],[121,119]]},"metadata":{"format":2,"realTextureFileName":"hssg_hippo_drink@6x.png","size":"{255,244}","textureFileName":"hssg_hippo_drink@6x.png"}}