{"frames":{"hssg_goose/background.png":[[2,2,160,154],0,[0,0],[160,154]],"hssg_goose/background_empty.png":[[312,2,151,146],1,[0,0],[151,146]],"hssg_goose/background_half.png":[[164,2,151,146],1,[0,0],[151,146]]},"metadata":{"format":2,"realTextureFileName":"hssg_goose@6x.png","size":"{460,158}","textureFileName":"hssg_goose@6x.png"}}