{"frames":{"prop_bag_panel/bagIcon.png":[[2,2,83,78],0,[0,0],[83,78]],"prop_bag_panel/bag_panel_icon.png":[[87,2,76,41],1,[-2,5],[80,51]],"prop_bag_panel/banner_short.png":[[195,2,30,24],1,[0,0],[30,24]],"prop_bag_panel/prop_bg.png":[[130,2,64,63],1,[0,0],[64,63]]},"metadata":{"format":2,"realTextureFileName":"prop_bag_panel@6x.png","size":"{221,82}","textureFileName":"prop_bag_panel@6x.png"}}