{"frames":{"hssg_crab/background.png":[[152,2,81,94],1,[0,0],[81,94]],"hssg_crab/background_half.png":[[77,2,73,86],0,[0,0],[73,86]],"hssg_crab/background_none.png":[[2,2,73,86],0,[0,0],[73,86]]},"metadata":{"format":2,"realTextureFileName":"hssg_crab@6x.png","size":"{248,90}","textureFileName":"hssg_crab@6x.png"}}