{"frames":{"hssg_chick/background.png":[[2,2,62,55],1,[0,0],[62,55]],"hssg_chick/background_half.png":[[2,114,53,46],0,[0,0],[53,46]],"hssg_chick/background_none.png":[[2,66,53,46],0,[0,0],[53,46]]},"metadata":{"format":2,"realTextureFileName":"hssg_chick@6x.png","size":"{59,162}","textureFileName":"hssg_chick@6x.png"}}