{"frames":{"adapter/zh_CN/mark_panel_rwfin1.png":[[2,301,55,61],1,[0,0],[55,61]],"adapter/zh_CN/mark_panel_rwfin2.png":[[2,240,59,67],1,[0,0],[59,67]],"adapter/zh_CN/mark_panel_rwfin3.png":[[2,172,66,71],1,[0,0],[66,71]],"adapter/zh_CN/mark_panel_rwfin4.png":[[2,95,75,80],1,[0,0],[75,80]],"adapter/zh_CN/mark_panel_rwfin5.png":[[2,2,89,91],0,[0,0],[89,91]]},"metadata":{"format":2,"realTextureFileName":"mark_panel_rwfin@6x.png","size":"{93,358}","textureFileName":"mark_panel_rwfin@6x.png"}}