{"frames":{"pass_all_level_panel/all_pass_bg.png":[[2,2,395,415],1,[0,0],[395,415]],"pass_all_level_panel/bluepipe1.png":[[848,196,46,24],0,[0,0],[46,24]],"pass_all_level_panel/bluepipe2.png":[[848,222,41,28],0,[0,0],[41,28]],"pass_all_level_panel/chicken_passall.png":[[848,116,79,78],0,[-2,2],[85,86]],"pass_all_level_panel/racoon_passall.png":[[848,2,106,112],0,[-1,1],[110,124]],"pass_all_level_panel/src_bling.png":[[827,2,373,19],1,[0,0],[373,21]],"pass_all_level_panel/src_line.png":[[419,390,374,3],0,[0,0],[374,3]],"pass_all_level_panel/starbacksth.png":[[419,2,386,406],1,[0,0],[386,406]]},"metadata":{"format":2,"realTextureFileName":"pass_all_level_panel@6x.png","size":"{956,399}","textureFileName":"pass_all_level_panel@6x.png"}}