{"frames":{"shake_ani_2/kai.png":[[2,163,46,53],0,[0,0],[46,53]],"shake_ani_2/qm_1.png":[[2,307,29,30],1,[0,0],[29,30]],"shake_ani_2/qm_2.png":[[2,243,31,32],1,[0,0],[31,32]],"shake_ani_2/qm_3.png":[[2,276,29,30],1,[0,0],[29,30]],"shake_ani_2/shake_titlei_xin.png":[[2,108,46,53],0,[0,0],[46,53]],"shake_ani_2/shake_titlei_yao.png":[[2,56,48,50],0,[0,0],[48,50]],"shake_ani_2/shake_titlei_yao1.png":[[2,2,49,52],0,[0,0],[49,52]],"shake_ani_2/shake_titlei_yi.png":[[2,218,46,23],0,[0,-1],[46,25]],"shake_ani_2/title.png":[[50,108,1,83],0,[0,0],[1,83]]},"metadata":{"format":2,"realTextureFileName":"shake_ani_2@6x.png","size":"{53,338}","textureFileName":"shake_ani_2@6x.png"}}