{"frames":{"water_dig_fish/fish1.png":[[2,2,24,14],1,[0,0],[24,14]],"water_dig_fish/only.png":[[17,53,23,13],1,[0,0],[23,13]],"water_dig_fish/only1.png":[[17,28,23,13],1,[0,0],[23,13]],"water_dig_fish/only2.png":[[2,78,23,13],0,[0,0],[23,13]],"water_dig_fish/only3.png":[[2,53,23,13],1,[0,0],[23,13]],"water_dig_fish/only4.png":[[2,28,23,13],1,[0,0],[23,13]],"water_dig_fish/water_bubble.png":[[18,2,12,13],0,[0,0],[12,13]]},"metadata":{"format":2,"realTextureFileName":"water_dig_fish@6x.png","size":"{32,93}","textureFileName":"water_dig_fish@6x.png"}}