{"frames":{"hssg_peacock/background.png":[[2,2,233,165],0,[0,0],[233,165]],"hssg_peacock/background_half.png":[[2,327,224,156],0,[0,0],[224,156]],"hssg_peacock/background_none.png":[[2,169,224,156],0,[0,0],[224,156]]},"metadata":{"format":2,"realTextureFileName":"hssg_peacock@6x.png","size":"{237,485}","textureFileName":"hssg_peacock@6x.png"}}