{"frames":{"share_completeAllLevel/cloak.png":[[337,2,104,80],0,[0,0],[104,80]],"share_completeAllLevel/necktie.png":[[401,249,43,29],0,[0,0],[43,29]],"share_completeAllLevel/new_body.png":[[337,165,67,63],0,[0,0],[67,63]],"share_completeAllLevel/new_hand.png":[[337,230,62,33],0,[1,1],[66,69]],"share_completeAllLevel/new_hand2.png":[[406,212,35,38],1,[0,0],[35,38]],"share_completeAllLevel/new_leg.png":[[406,165,39,45],0,[2,-1],[53,57]],"share_completeAllLevel/taillight.png":[[2,2,287,333],1,[-8,47],[303,427]],"share_completeAllLevel/ufochiken_12.png":[[337,84,98,79],0,[0,0],[98,79]]},"metadata":{"format":2,"realTextureFileName":"share_completeAllLevel@6x.png","size":"{447,291}","textureFileName":"share_completeAllLevel@6x.png"}}