{"frames":{"loading_panel/bar.png":[[21,117,36,46],0,[0,0],[36,46]],"loading_panel/barbg.png":[[2,56,59,51],1,[0,0],[59,51]],"loading_panel/light.png":[[2,222,41,6],0,[0,0],[41,6]],"loading_panel/wave.png":[[2,117,17,103],0,[0,0],[17,103]],"loading_panel/wavemask.png":[[21,165,33,41],0,[1,1],[35,43]],"loading_panel/wertyui.png":[[2,2,52,52],0,[0,0],[52,52]]},"metadata":{"format":2,"realTextureFileName":"loading_panel@6x.png","size":"{59,230}","textureFileName":"loading_panel@6x.png"}}