{"frames":{"hssg_icecream/background.png":[[2,2,76,122],0,[0,0],[76,122]],"hssg_icecream/background_half.png":[[150,2,68,113],0,[0,0],[68,113]],"hssg_icecream/background_none.png":[[80,2,68,113],0,[0,0],[68,113]]},"metadata":{"format":2,"realTextureFileName":"hssg_icecream@6x.png","size":"{220,126}","textureFileName":"hssg_icecream@6x.png"}}