{"frames":{"pursue_target_qixi/bg_up.png":[[2,2,600,343],0,[0,0],[600,343]],"pursue_target_qixi/board_qixi.png":[[651,97,66,67],0,[0,0],[66,67]],"pursue_target_qixi/flower_up.png":[[604,97,236,45],1,[0,0],[236,45]],"pursue_target_qixi/heartbigwai.png":[[604,2,111,93],0,[-1,1],[117,99]],"pursue_target_qixi/pursue_target_qixi.png":[[651,166,46,39],0,[-1,0],[48,41]],"pursue_target_qixi/star_blink.png":[[699,166,16,17],1,[0,0],[16,17]]},"metadata":{"format":2,"realTextureFileName":"pursue_target_qixi@6x.png","size":"{719,347}","textureFileName":"pursue_target_qixi@6x.png"}}