{"frames":{"fly_prop_animation/cash1.png":[[2,275,27,26],0,[0,0],[27,26]],"fly_prop_animation/cashlaydown.png":[[30,310,24,16],0,[0,0],[24,16]],"fly_prop_animation/cashlaydown1.png":[[34,268,23,18],1,[0,0],[23,18]],"fly_prop_animation/circle.png":[[2,57,48,48],0,[0,0],[48,48]],"fly_prop_animation/coin1.png":[[2,243,30,30],0,[0,0],[30,30]],"fly_prop_animation/coinlaydown.png":[[31,293,23,15],0,[0,0],[23,15]],"fly_prop_animation/coinlaydown1.png":[[34,243,23,18],1,[0,0],[23,18]],"fly_prop_animation/g11.png":[[2,2,52,53],0,[0,0],[52,53]],"fly_prop_animation/light_spot_light.png":[[2,314,22,22],0,[0,0],[22,22]],"fly_prop_animation/shadow22.png":[[2,107,134,46],1,[0,0],[134,46]],"fly_prop_animation/shadowsth22.png":[[2,303,26,9],0,[0,0],[26,9]],"fly_prop_animation/star_ani.png":[[26,328,9,9],0,[0,0],[9,9]]},"metadata":{"format":2,"realTextureFileName":"fly_prop_animation@6x.png","size":"{56,343}","textureFileName":"fly_prop_animation@6x.png"}}