{"frames":{"hssg_moon/background.png":[[2,364,140,119],0,[0,0],[140,119]],"hssg_moon/background_half.png":[[144,364,133,111],0,[0,0],[133,111]],"hssg_moon/background_none.png":[[2,2,360,303],1,[0,0],[360,303]]},"metadata":{"format":2,"realTextureFileName":"hssg_moon@6x.png","size":"{307,485}","textureFileName":"hssg_moon@6x.png"}}