{"frames":{"share_weekGameRewardBox/boxback.png":[[2,459,118,24],0,[0,0],[118,24]],"share_weekGameRewardBox/boxbottom_1.png":[[526,420,121,63],0,[0,0],[121,63]],"share_weekGameRewardBox/boxcover3_1.png":[[526,344,115,74],0,[0,0],[115,74]],"share_weekGameRewardBox/rabbit_22.png":[[2,323,113,134],0,[0,4],[113,142]],"share_weekGameRewardBox/rabbit_2222222.png":[[2,323,113,134],0,[0,4],[113,142]],"share_weekGameRewardBox/racoon_1222.png":[[2,2,369,319],0,[-24,57],[421,439]],"share_weekGameRewardBox/rad_belt.png":[[117,344,407,87],0,[0,0],[407,87]],"share_weekGameRewardBox/treaturesinside.png":[[122,433,123,50],0,[5,39],[181,136]],"share_weekGameRewardBox/元件4.png":[[373,2,326,340],0,[-13,-5],[388,364]]},"metadata":{"format":2,"realTextureFileName":"share_weekGameRewardBox@6x.png","size":"{701,485}","textureFileName":"share_weekGameRewardBox@6x.png"}}