{"frames":{"qzone_cover/bg.png":[[2,2,411,396],1,[0,0],[411,396]],"qzone_cover/bg2.png":[[2,415,169,40],1,[0,0],[169,40]],"qzone_cover/bg3.png":[[44,415,334,112],0,[0,0],[334,112]],"qzone_cover/racoon_light11.png":[[127,529,79,76],0,[0,0],[79,76]],"qzone_cover/racoon_light2.png":[[44,529,81,76],0,[0,0],[81,76]],"qzone_cover/racoon_light3.png":[[208,529,60,56],1,[0,0],[60,56]]},"metadata":{"format":2,"realTextureFileName":"qzone_cover@6x.png","size":"{400,607}","textureFileName":"qzone_cover@6x.png"}}