{"frames":{"hssg_boat/background.png":[[2,2,157,111],0,[0,0],[157,111]],"hssg_boat/background_empty.png":[[307,2,144,99],0,[0,0],[144,99]],"hssg_boat/background_half.png":[[161,2,144,99],0,[0,0],[144,99]]},"metadata":{"format":2,"realTextureFileName":"hssg_boat@6x.png","size":"{453,115}","textureFileName":"hssg_boat@6x.png"}}