{"frames":{"hssg_surfing/background.png":[[2,2,110,114],1,[0,0],[110,114]],"hssg_surfing/background_half.png":[[224,2,103,109],0,[0,0],[103,109]],"hssg_surfing/background_none.png":[[118,2,104,109],0,[0,0],[104,109]]},"metadata":{"format":2,"realTextureFileName":"hssg_surfing@6x.png","size":"{329,114}","textureFileName":"hssg_surfing@6x.png"}}