{"frames":{"hssg_38/background.png":[[2,2,128,87],0,[0,0],[128,87]],"hssg_38/background_half.png":[[255,2,121,79],0,[0,0],[121,79]],"hssg_38/background_none.png":[[132,2,121,79],0,[0,0],[121,79]]},"metadata":{"format":2,"realTextureFileName":"hssg_38@6x.png","size":"{378,91}","textureFileName":"hssg_38@6x.png"}}