{"frames":{"fish_ship/boat.png":[[2,26,316,63],0,[-2,2],[320,67]],"fish_ship/fish.png":[[409,2,41,33],1,[0,0],[41,33]],"fish_ship/fish_target_bg_ship.png":[[326,2,78,81],1,[0,0],[78,81]],"fish_ship/fish_target_fg.png":[[409,45,40,31],0,[2,-3],[48,37]],"fish_ship/wavex0.png":[[320,82,128,21],0,[0,0],[128,21]],"fish_ship/wavex1.png":[[2,2,322,22],0,[0,0],[322,22]]},"metadata":{"format":2,"realTextureFileName":"fish_ship@6x.png","size":"{451,105}","textureFileName":"fish_ship@6x.png"}}