{"frames":{"hssg_46/background.png":[[2,2,191,208],0,[0,0],[191,208]],"hssg_46/background_half.png":[[379,2,182,200],0,[0,0],[182,200]],"hssg_46/background_none.png":[[195,2,182,200],0,[0,0],[182,200]]},"metadata":{"format":2,"realTextureFileName":"hssg_46@6x.png","size":"{563,212}","textureFileName":"hssg_46@6x.png"}}