{"frames":{"hssg_coconuts_tree/background.png":[[2,2,116,134],0,[0,0],[116,134]],"hssg_coconuts_tree/background_half.png":[[2,266,108,126],0,[0,0],[108,126]],"hssg_coconuts_tree/background_none.png":[[2,138,108,126],0,[0,0],[108,126]]},"metadata":{"format":2,"realTextureFileName":"hssg_coconuts_tree@6x.png","size":"{120,394}","textureFileName":"hssg_coconuts_tree@6x.png"}}