{"frames":{"invite_notice_panel/bottom_btn_green_start2.png":[[209,75],[104,72,209,75],0,[0,1],[209,77],[]],"invite_notice_panel/c.png":[[103,100],[2,2,103,100],1,[0,-1],[103,106],[]],"invite_notice_panel/friend_invite_board.png":[[359,68],[104,2,359,68],0,[0,0],[359,68],[]]},"metadata":{"format":3,"pixelFormat":"RGBA8888","premultiplyAlpha":false,"realTextureFileName":"invite_notice_panel@6x.png","size":"{465,149}","textureFileName":"invite_notice_panel@6x.png"}}