{"frames":{"hssg_lantern/background.png":[[2,2,85,122],0,[0,0],[85,122]],"hssg_lantern/background_half.png":[[167,2,76,114],0,[0,0],[76,114]],"hssg_lantern/background_none.png":[[89,2,76,114],0,[0,0],[76,114]]},"metadata":{"format":2,"realTextureFileName":"hssg_lantern@6x.png","size":"{245,126}","textureFileName":"hssg_lantern@6x.png"}}