{"frames":{"hssg_50/background.png":[[2,2,114,109],0,[0,0],[114,109]],"hssg_50/background_half.png":[[221,2,105,101],1,[0,0],[105,101]],"hssg_50/background_none.png":[[118,2,105,101],1,[0,0],[105,101]]},"metadata":{"format":2,"realTextureFileName":"hssg_50@6x.png","size":"{324,113}","textureFileName":"hssg_50@6x.png"}}