{"frames":{"background_ice/ice_bg_bottom.png":[[2,2,600,428],0,[0,0],[600,428]],"background_ice/ice_bg_rect_2.png":[[1206,279,60,100],1,[0,-1],[60,102]],"background_ice/ice_bg_top.png":[[604,2,600,349],0,[0,0],[600,349]],"background_ice/polarbear_geass3.png":[[986,353,220,143],0,[0,0],[220,143]],"background_ice/polarbear_grass2.png":[[1206,2,166,140],1,[0,0],[166,140]],"background_ice/polarbear_shine.png":[[986,498,8,3],0,[0,0],[8,3]],"background_ice/polarbear_sunshine_ice.png":[[1206,170,107,107],0,[0,0],[107,107]],"background_ice/polarbear_wave02.png":[[2,432,982,69],0,[0,0],[982,69]],"background_ice/polarbear_wave_front_ice.png":[[604,353,298,36],0,[0,0],[298,36]],"background_ice/wave_rect.png":[[1208,341,62,94],1,[0,0],[62,94]]},"metadata":{"format":2,"realTextureFileName":"background_ice@6x.png","size":"{1348,503}","textureFileName":"background_ice@6x.png"}}