{"frames":{"water_dig_mode/diving_lightpipe.png":[[2,2,80,104],0,[0,0],[80,104]],"water_dig_mode/diving_surfacewater02.png":[[84,2,51,23],1,[0,0],[51,23]],"water_dig_mode/diving_surfacewater04.png":[[84,55,22,11],0,[0,0],[22,11]]},"metadata":{"format":2,"realTextureFileName":"water_dig_mode@6x.png","size":"{109,108}","textureFileName":"water_dig_mode@6x.png"}}