{"frames":{"energy_panel/animal_energy.png":[[2,2,132,94],0,[0,3],[132,100]],"energy_panel/dvd.png":[[212,2,72,43],1,[0,0],[72,43]],"energy_panel/energyIcon.png":[[311,42,45,60],1,[0,0],[45,60]],"energy_panel/glodCoin.png":[[136,2,74,77],0,[0,0],[74,77]],"energy_panel/icolok.png":[[257,42,52,54],0,[-1,1],[54,56]],"energy_panel/rmbsymbol_e.png":[[136,81,14,16],1,[0,0],[14,16]],"energy_panel/shopitembg.png":[[257,2,115,38],0,[-1,0],[119,38]]},"metadata":{"format":2,"realTextureFileName":"energy_panel@6x.png","size":"{374,98}","textureFileName":"energy_panel@6x.png"}}