{"frames":{"mark_plus_panel/HE_0.png":[[401,2,119,74],1,[-1,1],[121,76]],"mark_plus_panel/HE_1.png":[[401,2,119,74],1,[-1,1],[121,76]],"mark_plus_panel/btn_close.png":[[401,123,20,18],0,[-2,1],[56,54]],"mark_plus_panel/panel_bg.png":[[2,2,397,387],0,[-2,2],[401,391]]},"metadata":{"format":2,"realTextureFileName":"mark_plus_panel@6x.png","size":"{477,391}","textureFileName":"mark_plus_panel@6x.png"}}