{"frames":{"rescue_mission_panel/background.png":[[2,2,600,800],0,[0,0],[600,800]],"rescue_mission_panel/number_bg.png":[[47,804,26,27],0,[0,0],[26,27]],"rescue_mission_panel/return.png":[[2,804,43,43],0,[0,0],[43,43]]},"metadata":{"format":2,"realTextureFileName":"rescue_mission_panel@6x.png","size":"{604,849}","textureFileName":"rescue_mission_panel@6x.png"}}