{"frames":{"hssg_stars_bomb/starsglowxx1bomb.png":[[2,2,85,84],0,[-1,1],[123,124]],"hssg_stars_bomb/starsglowxx3bomb.png":[[89,2,12,12],0,[0,0],[12,12]],"hssg_stars_bomb/starsglowxx4bomb.png":[[89,2,12,12],0,[0,0],[12,12]]},"metadata":{"format":2,"realTextureFileName":"hssg_stars_bomb@6x.png","size":"{103,88}","textureFileName":"hssg_stars_bomb@6x.png"}}