{"frames":{"obstacle_anim_colorless_fish/beer676767.png":[[232,2,44,44],0,[0,0],[44,44]],"obstacle_anim_colorless_fish/chicken3434.png":[[186,2,44,44],0,[0,0],[44,44]],"obstacle_anim_colorless_fish/fox7677.png":[[140,2,44,44],0,[0,0],[44,44]],"obstacle_anim_colorless_fish/frog1343434.png":[[94,2,44,44],0,[0,0],[44,44]],"obstacle_anim_colorless_fish/hippo343434.png":[[48,2,44,44],0,[0,0],[44,44]],"obstacle_anim_colorless_fish/tile_center.png":[[2,2,44,44],0,[0,0],[44,44]]},"metadata":{"format":2,"realTextureFileName":"obstacle_anim_colorless_fish@6x.png","size":"{278,48}","textureFileName":"obstacle_anim_colorless_fish@6x.png"}}