{"frames":{"hssg_devilfish/background.png":[[2,2,117,107],0,[0,0],[117,107]],"hssg_devilfish/background_half.png":[[231,2,108,99],0,[0,0],[108,99]],"hssg_devilfish/background_none.png":[[121,2,108,99],0,[0,0],[108,99]]},"metadata":{"format":2,"realTextureFileName":"hssg_devilfish@6x.png","size":"{341,111}","textureFileName":"hssg_devilfish@6x.png"}}