{"frames":{"dynamic_update_panel/ad.png":[[2,2,383,246],0,[0,0],[383,246]],"dynamic_update_panel/dynamic_update_panel_progressBg.png":[[737,222,47,31],0,[0,0],[47,31]],"dynamic_update_panel/dynamic_update_panel_progressFg.png":[[786,222,47,29],0,[0,0],[47,29]],"dynamic_update_panel/reward_bg.png":[[387,2,348,221],0,[0,1],[348,223]],"dynamic_update_panel/small_bg.png":[[737,2,340,218],0,[0,0],[340,218]],"dynamic_update_panel/ui_commons_ui_fontsize_rect.png":[[387,225,5,5],0,[0,0],[5,5]]},"metadata":{"format":2,"realTextureFileName":"dynamic_update_panel@6x.png","size":"{1079,255}","textureFileName":"dynamic_update_panel@6x.png"}}