{"frames":{"homeAnim_windmill/wind_weel_house_small_down.png":[[2,2,31,61],0,[0,0],[31,61]],"homeAnim_windmill/wind_weel_small_i.png":[[35,58,6,5],0,[0,0],[6,5]],"homeAnim_windmill/yi.png":[[35,2,13,54],0,[0,0],[13,54]]},"metadata":{"format":2,"realTextureFileName":"homeAnim_windmill@6x.png","size":"{50,65}","textureFileName":"homeAnim_windmill@6x.png"}}