{"frames":{"share_invite/item_blue_bg.png":[[276,795,381,111],1,[0,0],[381,111]],"share_invite/item_purple_bg.png":[[163,795,381,111],1,[0,0],[381,111]],"share_invite/panel_bg.png":[[2,2,432,791],0,[0,0],[432,791]],"share_invite/yellowbig.png":[[2,795,383,159],1,[0,0],[383,159]]},"metadata":{"format":2,"realTextureFileName":"share_invite@6x.png","size":"{436,1180}","textureFileName":"share_invite@6x.png"}}