{"frames":{"island02.png":[[769,2,284,232],1,[0,0],[284,232]],"island03.png":[[2,2,392,292],0,[0,0],[392,292]],"island_rock01.png":[[396,2,371,289],0,[0,0],[371,289]]},"metadata":{"format":2,"realTextureFileName":"homeConfig_sub_2@6x.png","size":"{1003,296}","textureFileName":"homeConfig_sub_2@6x.png"}}