{"frames":{"beta_reward_panel/bubble.png":[[428,2,83,84],0,[-1,1],[85,86]],"beta_reward_panel/racoonBg.png":[[2,2,368,251],0,[0,0],[368,251]],"beta_reward_panel/title_pic.png":[[372,2,202,54],1,[1,8],[258,70]]},"metadata":{"format":2,"realTextureFileName":"beta_reward_panel@6x.png","size":"{513,255}","textureFileName":"beta_reward_panel@6x.png"}}