{"frames":{"hssg_44/background.png":[[2,2,89,98],1,[0,0],[89,98]],"hssg_44/background_half.png":[[184,2,80,89],0,[0,0],[80,89]],"hssg_44/bakcground_none.png":[[102,2,80,89],0,[0,0],[80,89]]},"metadata":{"format":2,"realTextureFileName":"hssg_44@6x.png","size":"{270,93}","textureFileName":"hssg_44@6x.png"}}