{"frames":{"homeSceneShootingStar/shootingstar_symbol01.png":[[985,2,162,6],0,[0,0],[162,6]],"homeSceneShootingStar/shootingstar_symbol02.png":[[1149,2,189,5],0,[0,0],[189,5]],"homeSceneShootingStar/shootingstar_symbol03.png":[[2,2,299,9],0,[0,0],[299,9]],"homeSceneShootingStar/shootingstar_symbol04.png":[[541,2,251,8],0,[0,0],[251,8]],"homeSceneShootingStar/shootingstar_symbol05.png":[[303,2,236,9],0,[0,0],[236,9]],"homeSceneShootingStar/shootingstar_symbol06.png":[[794,2,189,6],0,[0,0],[189,6]],"homeSceneShootingStar/shootingstar_symbol07.png":[[1340,2,165,4],0,[0,0],[165,4]],"homeSceneShootingStar/shootingstar_symbol08.png":[[1149,9,67,2],0,[0,0],[67,2]]},"metadata":{"format":2,"realTextureFileName":"homeSceneShootingStar@6x.png","size":"{1507,13}","textureFileName":"homeSceneShootingStar@6x.png"}}