{"frames":{"hssg_seaturtle/background.png":[[2,2,143,83],0,[0,0],[143,83]],"hssg_seaturtle/background_half.png":[[285,2,136,73],0,[0,0],[136,73]],"hssg_seaturtle/background_none.png":[[147,2,136,73],0,[0,0],[136,73]]},"metadata":{"format":2,"realTextureFileName":"hssg_seaturtle@6x.png","size":"{423,87}","textureFileName":"hssg_seaturtle@6x.png"}}