{"frames":{"homeAnim_skyWheel/sky_weel_1.png":[[260,2,114,125],0,[0,0],[114,125]],"homeAnim_skyWheel/sky_weel_house.png":[[260,129,19,21],0,[0,0],[19,21]],"homeAnim_skyWheel/sky_weel_shadow.png":[[162,2,143,96],1,[-3,0],[149,96]],"homeAnim_skyWheel/sky_weel_wood.png":[[281,129,16,14],1,[0,0],[16,14]],"homeAnim_skyWheel/weel_sky.png":[[2,2,158,158],0,[0,0],[158,158]]},"metadata":{"format":2,"realTextureFileName":"homeAnim_skyWheel@6x.png","size":"{376,162}","textureFileName":"homeAnim_skyWheel@6x.png"}}