{"frames":{"shake_scene/btnyellow.png":[[727,453,62,35],0,[0,0],[62,35]],"shake_scene/coin_shine.png":[[604,453,32,18],0,[0,0],[34,18]],"shake_scene/hideup.png":[[485,908,9,48],1,[0,0],[9,48]],"shake_scene/holeshake.png":[[667,894,18,58],1,[0,0],[18,58]],"shake_scene/lulu.png":[[485,804,96,102],0,[0,0],[96,102]],"shake_scene/shake_machine_door_close.png":[[583,804,87,88],0,[0,0],[87,88]],"shake_scene/shake_machine_door_open.png":[[583,894,18,82],1,[0,0],[18,82]],"shake_scene/shake_scene_background.png":[[604,2,449,397],1,[0,0],[449,397]],"shake_scene/shake_scene_desk.png":[[2,804,481,119],0,[0,0],[481,119]],"shake_scene/shake_scene_foreground.png":[[2,2,600,800],0,[0,0],[600,800]],"shake_scene/star_shine.png":[[672,453,35,35],0,[0,0],[53,53]]},"metadata":{"format":2,"realTextureFileName":"shake_scene@6x.png","size":"{1003,925}","textureFileName":"shake_scene@6x.png"}}