{"frames":{"obstacle_anim_hat/beer676767.png":[[2,438,44,44],0,[0,0],[44,44]],"obstacle_anim_hat/chicken3434.png":[[2,392,44,44],0,[0,0],[44,44]],"obstacle_anim_hat/fox7677.png":[[2,346,44,44],0,[0,0],[44,44]],"obstacle_anim_hat/frog1343434.png":[[2,300,44,44],0,[0,0],[44,44]],"obstacle_anim_hat/hat1.png":[[2,116,44,50],1,[0,0],[60,60]],"obstacle_anim_hat/hat2.png":[[2,64,50,52],1,[0,0],[60,62]],"obstacle_anim_hat/hat3.png":[[2,2,57,60],0,[-1,2],[61,66]],"obstacle_anim_hat/hippo343434.png":[[2,254,44,44],0,[0,0],[44,44]],"obstacle_anim_hat/kuokuok.png":[[2,484,41,40],0,[0,0],[41,40]],"obstacle_anim_hat/owl1113434.png":[[2,208,44,44],0,[0,0],[44,44]],"obstacle_anim_hat/starr.png":[[48,162,12,10],1,[-1,1],[14,14]],"obstacle_anim_hat/tile_center.png":[[2,162,44,44],0,[0,0],[44,44]]},"metadata":{"format":2,"realTextureFileName":"obstacle_anim_hat@6x.png","size":"{61,526}","textureFileName":"obstacle_anim_hat@6x.png"}}