{"frames":{"hssg_piano/background.png":[[2,2,100,100],0,[0,0],[100,100]],"hssg_piano/background_half.png":[[2,197,92,91],0,[0,0],[92,91]],"hssg_piano/background_none.png":[[2,104,92,91],0,[0,0],[92,91]]},"metadata":{"format":2,"realTextureFileName":"hssg_piano@6x.png","size":"{104,290}","textureFileName":"hssg_piano@6x.png"}}