{"frames":{"hssg_dolphin/background.png":[[228,2,120,131],1,[0,0],[120,131]],"hssg_dolphin/background_half.png":[[115,2,111,122],0,[0,0],[111,122]],"hssg_dolphin/background_none.png":[[2,2,111,122],0,[0,0],[111,122]]},"metadata":{"format":2,"realTextureFileName":"hssg_dolphin@6x.png","size":"{361,126}","textureFileName":"hssg_dolphin@6x.png"}}