{"frames":{"effect_color_bg.png":[[0,0,253,254],0,[0,0],[255,256]],"effect_color_fg.png":[[188,254,131,135],0,[0,0],[163,163]],"effect_color_light.png":[[253,0,99,99],0,[-1,1],[101,101]],"effect_color_line.png":[[310,445,37,54],0,[-9,-6],[55,66]],"effect_color_star.png":[[253,128,29,29],0,[0,0],[29,29]],"effect_super_bird_bg.png":[[0,254,188,188],0,[0,0],[188,188]],"effect_super_bird_fg.png":[[188,389,118,122],1,[0,0],[148,148]],"effect_super_bird_line.png":[[310,389,37,56],0,[-9,-5],[55,66]],"effect_super_bird_star.png":[[253,99,29,29],0,[0,0],[29,29]]},"metadata":{"format":2,"realTextureFileName":"effect_color_animal@6x.png","size":"{352,507}","textureFileName":"effect_color_animal@6x.png"}}