{"frames":{"hssg_jellyfish/background.png":[[2,2,79,109],0,[0,0],[79,109]],"hssg_jellyfish/background_half.png":[[155,2,70,101],0,[0,0],[70,101]],"hssg_jellyfish/background_none.png":[[83,2,70,101],0,[0,0],[70,101]]},"metadata":{"format":2,"realTextureFileName":"hssg_jellyfish@6x.png","size":"{227,113}","textureFileName":"hssg_jellyfish@6x.png"}}