{"frames":{"zhoumo02/b_green_btn.png":[[2,173,157,73],0,[-1,1],[159,75]],"zhoumo02/box.png":[[2,2,200,169],0,[-2,8],[204,209]],"zhoumo02/close.png":[[161,173,16,17],1,[0,0],[16,17]]},"metadata":{"format":2,"realTextureFileName":"zhoumo02@6x.png","size":"{204,248}","textureFileName":"zhoumo02@6x.png"}}