{"frames":{"mail_panel/addFriendPic.png":[[2,259,270,244],0,[-2,-3],[274,256]],"mail_panel/itembg.png":[[347,2,159,81],1,[0,0],[161,81]],"mail_panel/little2.png":[[399,163,36,28],1,[0,0],[36,28]],"mail_panel/mailchicken.png":[[274,370,128,103],1,[-1,0],[130,109]],"mail_panel/openArrow.png":[[399,201,16,11],0,[0,0],[16,11]],"mail_panel/seperateline.png":[[274,2,366,3],1,[0,0],[366,3]],"mail_panel/sysChicken.png":[[279,283,63,61],0,[0,-1],[63,63]],"mail_panel/sys_msgbg.png":[[279,2,279,66],1,[0,0],[279,66]],"mail_panel/tabarrow.png":[[279,346,22,11],1,[0,0],[22,11]],"mail_panel/title.png":[[347,163,190,50],1,[-1,1],[192,52]],"mail_panel/unlockFriendPic.png":[[2,2,270,255],0,[-1,-4],[274,269]]},"metadata":{"format":2,"realTextureFileName":"mail_panel@6x.png","size":"{430,505}","textureFileName":"mail_panel@6x.png"}}