{"frames":{"hssg_ski_bear/background.png":[[2,2,169,135],1,[0,0],[169,135]],"hssg_ski_bear/background_half.png":[[268,2,164,127],1,[0,0],[164,127]],"hssg_ski_bear/background_none.png":[[139,2,164,127],1,[0,0],[164,127]]},"metadata":{"format":2,"realTextureFileName":"hssg_ski_bear@6x.png","size":"{397,173}","textureFileName":"hssg_ski_bear@6x.png"}}