{"frames":{"hssg_bear_bike/background.png":[[214,2,113,129],1,[0,0],[113,129]],"hssg_bear_bike/background_half.png":[[108,2,104,119],0,[0,0],[104,119]],"hssg_bear_bike/background_none.png":[[2,2,104,119],0,[0,0],[104,119]]},"metadata":{"format":2,"realTextureFileName":"hssg_bear_bike@6x.png","size":"{345,123}","textureFileName":"hssg_bear_bike@6x.png"}}