{"frames":{"ActivityMissionHelperIcon/ballon1.png":[[2,2,62,48],0,[0,0],[62,48]],"ActivityMissionHelperIcon/balloonhead.png":[[66,20,33,41],0,[0,0],[33,41]],"ActivityMissionHelperIcon/basket.png":[[127,20,26,12],0,[0,0],[26,12]],"ActivityMissionHelperIcon/camera1.png":[[128,2,23,16],0,[0,0],[23,16]],"ActivityMissionHelperIcon/headshadow.png":[[101,20,24,22],0,[0,0],[24,22]],"ActivityMissionHelperIcon/icon_txt1.png":[[66,2,60,16],0,[0,0],[60,16]],"ActivityMissionHelperIcon/icon_txt2.png":[[101,44,56,17],0,[0,0],[56,17]],"ActivityMissionHelperIcon/icon_txt3.png":[[159,2,59,16],1,[0,0],[59,16]],"ActivityMissionHelperIcon/trash_lines.png":[[2,52,9,9],0,[0,0],[9,9]]},"metadata":{"format":2,"realTextureFileName":"ActivityMissionHelperIcon@6x.png","size":"{178,63}","textureFileName":"ActivityMissionHelperIcon@6x.png"}}