{"frames":{"hssg_racoon/background.png":[[2,2,124,150],0,[0,0],[124,150]],"hssg_racoon/background_half.png":[[2,297,115,141],0,[0,0],[115,141]],"hssg_racoon/background_none.png":[[2,154,115,141],0,[0,0],[115,141]]},"metadata":{"format":2,"realTextureFileName":"hssg_racoon@6x.png","size":"{128,440}","textureFileName":"hssg_racoon@6x.png"}}