{"frames":{"hssg_sea_horse/background.png":[[2,2,76,98],0,[0,0],[76,98]],"hssg_sea_horse/background_half.png":[[149,2,67,89],0,[0,0],[67,89]],"hssg_sea_horse/background_none.png":[[80,2,67,89],0,[0,0],[67,89]]},"metadata":{"format":2,"realTextureFileName":"hssg_sea_horse@6x.png","size":"{218,102}","textureFileName":"hssg_sea_horse@6x.png"}}