{"frames":{"game_guide/arrow.png":[[120,28,28,26],1,[0,0],[28,26]],"game_guide/bubblebg.png":[[62,2,56,56],0,[0,0],[56,56]],"game_guide/hand.png":[[2,2,56,58],1,[0,0],[56,58]],"game_guide/tracer.png":[[120,2,78,24],0,[0,0],[78,24]]},"metadata":{"format":2,"realTextureFileName":"game_guide@6x.png","size":"{200,60}","textureFileName":"game_guide@6x.png"}}