{"frames":{"rm_inner_game/background.png":[[2,2,600,800],0,[0,0],[600,800]],"rm_inner_game/chicken.png":[[49,804,44,44],0,[0,0],[44,44]],"rm_inner_game/fog.png":[[140,804,41,36],1,[0,0],[41,36]],"rm_inner_game/fox.png":[[178,804,38,40],0,[0,0],[38,40]],"rm_inner_game/hippo.png":[[2,804,45,44],0,[0,0],[45,44]],"rm_inner_game/pause.png":[[95,804,43,43],0,[0,0],[43,43]]},"metadata":{"format":2,"realTextureFileName":"rm_inner_game@6x.png","size":"{604,850}","textureFileName":"rm_inner_game@6x.png"}}