{"frames":{"hssg_41/background.png":[[2,2,78,76],0,[0,0],[78,76]],"hssg_41/background_half.png":[[156,2,74,72],1,[0,0],[74,72]],"hssg_41/background_none.png":[[82,2,74,72],1,[0,0],[74,72]]},"metadata":{"format":2,"realTextureFileName":"hssg_41@6x.png","size":"{230,80}","textureFileName":"hssg_41@6x.png"}}