{"frames":{"game_revive_panel/arrow.png":[[376,29,14,9],0,[0,0],[14,9]],"game_revive_panel/close.png":[[109,29,18,18],0,[0,0],[18,18]],"game_revive_panel/devider.png":[[2,2,423,2],0,[0,0],[423,2]],"game_revive_panel/eye_wen2.png":[[94,89,5,5],0,[0,0],[5,5]],"game_revive_panel/markbg.png":[[399,6,44,24],1,[-2,1],[48,26]],"game_revive_panel/tip.png":[[94,6,303,21],0,[-4,-1],[313,29]],"game_revive_panel/tip1.png":[[94,29,58,13],1,[-4,0],[68,19]],"game_revive_panel/tip2.png":[[129,29,245,17],0,[-3,0],[251,23]],"game_revive_panel/transrec.png":[[109,52,21,20],1,[0,0],[21,20]],"game_revive_panel/ui_white_demitrans_scale9.png":[[2,6,90,90],0,[0,0],[90,90]]},"metadata":{"format":2,"realTextureFileName":"game_revive_panel@6x.png","size":"{427,98}","textureFileName":"game_revive_panel@6x.png"}}