{"frames":{"select_payment_panel/extra_bg.png":[[86,40,21,21],0,[0,0],[21,21]],"select_payment_panel/markbg.png":[[60,2,44,24],1,[-2,1],[48,26]],"select_payment_panel/res_arrow.png":[[109,40,25,18],0,[0,0],[25,18]],"select_payment_panel/res_icn_bg.png":[[86,2,36,36],0,[0,0],[36,36]],"select_payment_panel/res_selct_item_bg.png":[[2,2,56,59],0,[0,0],[56,59]]},"metadata":{"format":2,"realTextureFileName":"select_payment_panel@6x.png","size":"{136,63}","textureFileName":"select_payment_panel@6x.png"}}