{"frames":{"rm_reward/bg.png":[[2,2,386,311],1,[0,-1],[388,313]],"rm_reward/close_btn_blue.png":[[228,550,22,20],1,[-2,1],[54,54]],"rm_reward/light.png":[[2,583,224,58],0,[0,0],[226,58]],"rm_reward/racoon_light11.png":[[2,643,155,148],0,[0,0],[155,148]],"rm_reward/racoon_light2.png":[[134,390,158,148],1,[0,0],[158,148]],"rm_reward/racoon_light3.png":[[159,643,139,130],0,[0,0],[139,130]],"rm_reward/rank_magicpanle_new2.png":[[2,390,130,191],0,[-1,-1],[132,193]]},"metadata":{"format":2,"realTextureFileName":"rm_reward@6x.png","size":"{315,793}","textureFileName":"rm_reward@6x.png"}}