{"frames":{"day7total/background7days.png":[[2,2,413,605],0,[0,0],[413,605]],"day7total/days.png":[[2,609,152,519],0,[0,0],[152,519]],"day7total/receive.png":[[278,609,59,56],0,[0,0],[59,56]],"day7total/tomorrow.png":[[217,609,59,56],0,[0,0],[59,56]],"day7total/unreceive.png":[[156,609,59,56],0,[0,0],[59,56]],"day7total/重复项目文件夹_starshining.png":[[339,609,37,37],0,[0,0],[37,39]]},"metadata":{"format":2,"realTextureFileName":"day7total@6x.png","size":"{417,1130}","textureFileName":"day7total@6x.png"}}