{"frames":{"common_reward_panel/res_stargolow0003.png":[[223,2,66,66],0,[0,0],[66,66]],"common_reward_panel/res_stargolow0004.png":[[123,2,98,98],0,[0,0],[98,98]],"common_reward_panel/stargolow0002.png":[[2,2,119,119],0,[0,0],[129,129]],"common_reward_panel/stargolow0006.png":[[123,102,11,11],0,[0,0],[11,11]]},"metadata":{"format":2,"realTextureFileName":"common_reward_panel@6x.png","size":"{291,123}","textureFileName":"common_reward_panel@6x.png"}}