{"frames":{"homeAnim_bear/polarbear_body.png":[[2,2,106,154],1,[0,0],[106,154]],"homeAnim_bear/polarbear_hand_L.png":[[158,46,42,62],0,[0,0],[42,62]],"homeAnim_bear/polarbear_hand_R.png":[[158,2,44,42],0,[0,0],[44,42]],"homeAnim_bear/polarbear_shadow.png":[[202,46,17,19],0,[0,0],[17,19]]},"metadata":{"format":2,"realTextureFileName":"homeAnim_bear@6x.png","size":"{221,110}","textureFileName":"homeAnim_bear@6x.png"}}