{"frames":{"hssg_frog_plane/background.png":[[2,2,121,95],0,[0,0],[121,95]],"hssg_frog_plane/background_half.png":[[2,187,112,86],0,[0,0],[112,86]],"hssg_frog_plane/background_none.png":[[2,99,112,86],0,[0,0],[112,86]]},"metadata":{"format":2,"realTextureFileName":"hssg_frog_plane@6x.png","size":"{125,275}","textureFileName":"hssg_frog_plane@6x.png"}}