{"frames":{"lotus.png":[[2,2,49,49],0,[0,0],[49,49]],"lotus_left_wave.png":[[53,2,19,27],1,[0,0],[19,27]],"lotus_right_wave.png":[[53,23,23,26],1,[0,0],[23,26]],"lotus_waves.png":[[82,2,8,38],0,[0,0],[8,38]]},"metadata":{"format":2,"realTextureFileName":"lotus_half@6x.png","size":"{92,53}","textureFileName":"lotus_half@6x.png"}}