{"frames":{"hssg_butterfly/background.png":[[2,2,99,138],0,[0,0],[99,138]],"hssg_butterfly/background_half.png":[[2,142,90,129],0,[0,0],[90,129]],"hssg_butterfly/background_none.png":[[2,273,89,129],0,[0,0],[89,129]]},"metadata":{"format":2,"realTextureFileName":"hssg_butterfly@6x.png","size":"{103,404}","textureFileName":"hssg_butterfly@6x.png"}}