{"frames":{"propPrompt/hammer2.png":[[127,2,60,60],0,[0,0],[60,60]],"propPrompt/heng.png":[[594,49,22,13],0,[0,0],[22,13]],"propPrompt/huaban.png":[[65,2,60,60],0,[0,0],[60,60]],"propPrompt/mark.png":[[189,2,51,51],0,[0,0],[51,51]],"propPrompt/propTipAnchor.png":[[618,49,12,12],0,[-1,1],[16,14]],"propPrompt/tip.png":[[242,2,189,48],0,[0,0],[189,48]],"propPrompt/tipAnchor.png":[[242,52,14,9],0,[0,0],[14,9]],"propPrompt/waterBg.png":[[433,2,159,47],0,[0,0],[159,47]],"propPrompt/white_round.png":[[594,2,45,45],0,[0,0],[45,45]],"propPrompt/wrap.png":[[2,2,60,61],1,[0,0],[60,61]]},"metadata":{"format":2,"realTextureFileName":"propPrompt@6x.png","size":"{641,64}","textureFileName":"propPrompt@6x.png"}}