{"frames":{"homeAnim_fishbanner/bannerbar.png":[[2,2,3,49],0,[0,0],[3,49]],"homeAnim_fishbanner/bannerpart1.png":[[20,23,8,9],0,[0,0],[8,9]],"homeAnim_fishbanner/bannerpart2.png":[[7,24,11,9],0,[0,0],[11,9]],"homeAnim_fishbanner/bannerpart3.png":[[7,13,11,9],0,[0,0],[11,9]],"homeAnim_fishbanner/bannerpart4.png":[[20,2,9,9],0,[0,0],[9,9]],"homeAnim_fishbanner/bannerpart5.png":[[7,2,11,9],0,[0,0],[11,9]],"homeAnim_fishbanner/bannerpart6.png":[[20,13,9,8],0,[0,0],[9,8]],"homeAnim_fishbanner/bannerpart7.png":[[7,35,10,9],0,[0,0],[10,9]],"homeAnim_fishbanner/bannerpart8.png":[[20,34,8,8],0,[0,0],[8,8]]},"metadata":{"format":2,"realTextureFileName":"homeAnim_fishbanner@6x.png","size":"{31,53}","textureFileName":"homeAnim_fishbanner@6x.png"}}