{"frames":{"racoon_finish/candy_blue.png":[[167,2,30,31],0,[0,0],[30,31]],"racoon_finish/candy_bottle.png":[[2,2,96,118],1,[0,2],[96,122]],"racoon_finish/candy_brown.png":[[122,2,44,43],1,[0,0],[44,43]],"racoon_finish/candy_cap01.png":[[208,35,44,19],1,[0,0],[44,19]],"racoon_finish/candy_cap02.png":[[229,47,43,18],1,[0,0],[43,18]],"racoon_finish/candy_cap03.png":[[229,2,43,18],1,[0,0],[43,18]],"racoon_finish/candy_green.png":[[199,2,31,28],1,[0,0],[31,28]],"racoon_finish/candy_purple.png":[[177,68,30,28],1,[0,0],[30,28]],"racoon_finish/candy_red.png":[[177,35,29,31],0,[0,0],[29,31]],"racoon_finish/candy_shadow.png":[[155,48,47,20],1,[0,0],[47,20]],"racoon_finish/candy_yellow.png":[[122,48,31,33],0,[0,0],[31,33]]},"metadata":{"format":2,"realTextureFileName":"racoon_finish@6x.png","size":"{249,100}","textureFileName":"racoon_finish@6x.png"}}