{"frames":{"hssg_drink/background.png":[[2,2,137,118],0,[0,0],[137,118]],"hssg_drink/background_half.png":[[271,2,128,109],0,[0,0],[128,109]],"hssg_drink/background_none.png":[[141,2,128,109],0,[0,0],[128,109]]},"metadata":{"format":2,"realTextureFileName":"hssg_drink@6x.png","size":"{401,122}","textureFileName":"hssg_drink@6x.png"}}