{"frames":{"hssg_40/background.png":[[2,2,99,98],1,[0,0],[99,98]],"hssg_40/background_half.png":[[2,103,91,89],0,[0,0],[91,89]],"hssg_40/background_none.png":[[2,194,90,89],0,[0,0],[90,89]]},"metadata":{"format":2,"realTextureFileName":"hssg_40@6x.png","size":"{102,285}","textureFileName":"hssg_40@6x.png"}}