{"frames":{"verified_panel/btn_send_click.png":[[142,2,68,49],0,[0,0],[68,49]],"verified_panel/btn_send_disable.png":[[72,2,68,49],0,[0,0],[68,49]],"verified_panel/btn_send_normal.png":[[2,2,68,49],0,[0,0],[68,49]],"verified_panel/fix_btn.png":[[212,2,33,19],1,[0,0],[33,19]]},"metadata":{"format":2,"realTextureFileName":"verified_panel@6x.png","size":"{233,53}","textureFileName":"verified_panel@6x.png"}}