{"frames":{"permission_show/a2.png":[[701,2,34,36],0,[0,0],[34,36]],"permission_show/a3.png":[[701,75,27,33],1,[0,0],[27,33]],"permission_show/a4.png":[[701,147,11,8],0,[0,0],[11,8]],"permission_show/a5.png":[[701,40,33,34],1,[0,0],[33,34]],"permission_show/close_btn.png":[[701,104,41,25],1,[0,-2],[41,29]],"permission_show/pic1.png":[[2,2,348,199],0,[0,0],[348,199]],"permission_show/pic6.png":[[352,2,347,193],0,[0,0],[347,193]]},"metadata":{"format":2,"realTextureFileName":"permission_show@6x.png","size":"{737,203}","textureFileName":"permission_show@6x.png"}}