{"frames":{"homeAnim_fish/blue_fish.png":[[73,44,8,9],0,[0,0],[8,9]],"homeAnim_fish/fish_haitun.png":[[2,2,69,58],0,[0,0],[69,58]],"homeAnim_fish/fish_xiaochou.png":[[73,34,8,9],1,[0,0],[8,9]],"homeAnim_fish/huati_shadow.png":[[85,2,8,4],1,[0,0],[8,4]],"homeAnim_fish/water_flower1.png":[[83,44,9,6],1,[0,0],[9,6]],"homeAnim_fish/water_flower2.png":[[84,34,8,5],1,[0,0],[8,5]],"homeAnim_fish/water_round.png":[[73,2,30,10],1,[0,0],[30,10]]},"metadata":{"format":2,"realTextureFileName":"homeAnim_fish@6x.png","size":"{91,62}","textureFileName":"homeAnim_fish@6x.png"}}