{"frames":{"pvp_game/goal_bg.png":[[77,2,569,100],0,[0,0],[569,100]],"pvp_game/name_bg.png":[[648,2,351,79],0,[0,0],[351,79]],"pvp_game/progress_bg.png":[[704,83,181,26],0,[0,0],[181,26]],"pvp_game/progress_blue.png":[[676,83,29,26],1,[0,0],[29,26]],"pvp_game/progress_red.png":[[648,83,30,26],1,[0,0],[30,26]],"pvp_game/vs_logo.png":[[2,2,73,120],0,[0,0],[73,120]]},"metadata":{"format":2,"realTextureFileName":"pvp_game@6x.png","size":"{1001,124}","textureFileName":"pvp_game@6x.png"}}