{"frames":{"hssg_shell/background.png":[[2,324,184,169],1,[0,0],[184,169]],"hssg_shell/background_half.png":[[2,163,175,159],0,[0,0],[175,159]],"hssg_shell/background_none.png":[[2,2,175,159],0,[0,0],[175,159]]},"metadata":{"format":2,"realTextureFileName":"hssg_shell@6x.png","size":"{179,510}","textureFileName":"hssg_shell@6x.png"}}