{"frames":{"video_ad_btn/bing_1.png":[[102,31,21,28],1,[0,0],[21,28]],"video_ad_btn/bing_2.png":[[93,2,24,27],0,[0,0],[24,27]],"video_ad_btn/bing_3.png":[[140,2,23,21],1,[0,0],[23,21]],"video_ad_btn/bing_4.png":[[132,31,19,27],1,[0,0],[19,27]],"video_ad_btn/bing_5.png":[[119,2,19,27],0,[0,0],[19,27]],"video_ad_btn/board_play1.png":[[2,2,53,54],1,[0,0],[53,54]],"video_ad_btn/coinText.png":[[58,37,42,16],0,[0,0],[42,16]],"video_ad_btn/coin_play.png":[[58,2,33,33],0,[0,0],[33,33]],"video_ad_btn/starcircle.png":[[161,27,8,8],0,[0,0],[8,8]]},"metadata":{"format":2,"realTextureFileName":"video_ad_btn@6x.png","size":"{171,57}","textureFileName":"video_ad_btn@6x.png"}}