{"frames":{"prop_animation/b_green_cut_bright.png":[[2,2,121,75],0,[0,0],[121,75]],"prop_animation/stargolow0002.png":[[2,79,119,119],0,[0,0],[129,129]],"prop_animation/stargolow0003.png":[[2,300,66,66],0,[0,0],[66,66]],"prop_animation/stargolow0004.png":[[2,200,98,98],0,[0,0],[98,98]],"prop_animation/stargolow0006.png":[[102,200,11,11],0,[0,0],[11,11]]},"metadata":{"format":2,"realTextureFileName":"prop_animation@6x.png","size":"{125,368}","textureFileName":"prop_animation@6x.png"}}