{"frames":{"hssg_sailing/background.png":[[2,2,115,166],0,[0,0],[115,166]],"hssg_sailing/background_half.png":[[2,330,106,158],0,[0,0],[106,158]],"hssg_sailing/background_none.png":[[2,170,106,158],0,[0,0],[106,158]]},"metadata":{"format":2,"realTextureFileName":"hssg_sailing@6x.png","size":"{119,490}","textureFileName":"hssg_sailing@6x.png"}}