{"frames":{"homeAnim_tuteng/animal_chick.png":[[2,163,26,29],1,[0,0],[26,29]],"homeAnim_tuteng/animal_down.png":[[2,2,66,37],1,[0,0],[66,37]],"homeAnim_tuteng/animal_fox.png":[[2,191,25,29],1,[0,0],[25,29]],"homeAnim_tuteng/animal_hippo.png":[[2,134,27,29],1,[0,0],[27,29]],"homeAnim_tuteng/animal_owl.png":[[2,102,31,30],0,[0,0],[31,30]],"homeAnim_tuteng/fox_shadow.png":[[2,218,24,16],0,[0,0],[24,16]],"homeAnim_tuteng/owl_body.png":[[2,70,31,30],0,[0,0],[31,30]],"homeAnim_tuteng/owl_eye.png":[[35,70,4,6],0,[0,0],[4,6]]},"metadata":{"format":2,"realTextureFileName":"homeAnim_tuteng@6x.png","size":"{41,236}","textureFileName":"homeAnim_tuteng@6x.png"}}