{"frames":{"hssg_phone/background.png":[[2,2,78,82],0,[0,0],[78,82]],"hssg_phone/background_half.png":[[2,157,69,73],1,[0,0],[69,73]],"hssg_phone/background_none.png":[[2,86,69,73],1,[0,0],[69,73]]},"metadata":{"format":2,"realTextureFileName":"hssg_phone@6x.png","size":"{82,228}","textureFileName":"hssg_phone@6x.png"}}