{"frames":{"blco_horse_win/beartoy.png":[[135,2,64,63],1,[0,0],[64,63]],"blco_horse_win/chicktoy.png":[[69,2,64,64],0,[0,0],[64,64]],"blco_horse_win/foxtoy.png":[[2,2,64,65],1,[0,0],[64,65]],"blco_horse_win/frogtoy.png":[[200,2,66,63],0,[0,0],[66,63]],"blco_horse_win/liotoy.png":[[268,2,69,59],0,[0,0],[91,79]]},"metadata":{"format":2,"realTextureFileName":"blco_horse_win@6x.png","size":"{339,68}","textureFileName":"blco_horse_win@6x.png"}}