{"frames":{"hssg_47/background.png":[[2,2,116,134],0,[0,0],[116,134]],"hssg_47/background_half.png":[[2,265,108,125],0,[0,0],[108,125]],"hssg_47/background_none.png":[[2,138,108,125],0,[0,0],[108,125]]},"metadata":{"format":2,"realTextureFileName":"hssg_47@6x.png","size":"{120,392}","textureFileName":"hssg_47@6x.png"}}