{"frames":{"homeAnim_statue/frog_fire_light.png":[[2,2,97,76],0,[0,0],[97,76]],"homeAnim_statue/frog_stone_down.png":[[2,80,82,141],0,[0,0],[82,141]],"homeAnim_statue/frog_stone_fire.png":[[86,80,23,30],0,[0,0],[23,30]]},"metadata":{"format":2,"realTextureFileName":"homeAnim_statue@6x.png","size":"{111,223}","textureFileName":"homeAnim_statue@6x.png"}}